// |--------------------------------------------------------------------------
// | Class packages
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .boxy--class-packages
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin boxy-class-packages-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.boxy--class-packages {

  .boxy__body {
    padding: 0;
  }

  .panel-heading {
    position: relative;
  }

  .panel-title {

    &:before {
      position: absolute;

      top: 0;
      left: 0;
      bottom: 0;

      width: 5px;

      content: "";
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
