// |--------------------------------------------------------------------------
// | Class packages
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .boxy--class-packages
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin boxy-class-packages-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.boxy--class-packages {

  .boxy__body {
    padding: 0;

    border-top: 0;
  }

  .boxy__footer {
    padding-left: 0;
    padding-right: 0;
  }

  &.boxy--class-packages--list-advanced {

    .panel-body {
      padding: 0;
    }
  }

  // Overrides
  .nav-tabs {
    background-color: #fbfbfb;
    border-bottom: 1px solid $border-color;

    > li {
      border-right: 1px solid $border-color;

      &:last-child {
        border-right: 0;
      }

      > a {
        margin-right: 0;

        border: 0;

        text-transform: uppercase;

        color: $text-color;
        font-weight: $font-weight-bold;
      }

      &.active > a {

        &,
        &:hover,
        &:focus {
          border: 0;

          color: $nav-tabs-active-link-hover-color;
        }
      }
    }
  }

  // Overrides
  .nav-pills {
    background-color: #fbfbfb;
    border-bottom: 1px solid $border-color;

    > li {

      > a {
        text-transform: uppercase;

        color: $text-color;
        font-weight: $font-weight-bold;
      }

      &.active > a {

        &,
        &:hover,
        &:focus {
          background-color: $nav-tabs-active-link-hover-bg;

          color: $nav-tabs-active-link-hover-color;
        }
      }
    }
  }

  // Overrides
  .nav-stacked {

    > li {

      + li {
        margin-top: 0;
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
