// |--------------------------------------------------------------------------
// | Highlighted
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .boxy--highlighted
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin boxy--highlighted-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.boxy--highlighted {

  .boxy__body {
    text-align: center;
    border-color: $brand-primary;

    &,
    a, a:hover, a:focus {
      color: $brand-primary;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
