// |--------------------------------------------------------------------------
// | My course
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .boxy--my-course
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin boxy--my-course-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.boxy--my-course {
  min-height: 130px;

  .boxy__body {
    display: flex;

    padding: 0;
  }

  .boxy__content {
    padding: $boxy-body-spacing-top-bottom $boxy-body-spacing-top-bottom;

    h1, h2, h3, h4, h5 {
      margin-top: 0;
    }
  }

  .photo {
    flex-grow: 1;
  }

  .boxy__image {
    padding-right: 0;

    margin-top: 0 - $boxy-body-spacing-top-bottom;
    margin-bottom: 0 - $boxy-body-spacing-top-bottom;
    margin-left: 0 - $boxy-spacing-left-right;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .boxy--my-course {

    .boxy__content {
      display: flex;

      flex-direction: column;
      flex-grow: 1;
      justify-content: center;

      padding-left: 0;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .boxy--my-course {

    .boxy__content {
      padding-right: 100px;
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
