// |--------------------------------------------------------------------------
// | Angled background
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .angled-background-color
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Angled background
$angled-background-angle: 5deg;
$angled-background-padding-top: 10px;
$angled-background-padding-bottom: 140px;

// Variants
$angled-background-color-white: #fff;
$angled-background-color-gray: #f4f5f5;
$angled-background-color-primary: $brand-primary;
$angled-background-color-secondary: $brand-secondary;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Angled background
.angled-background-color,
.angled-background-image {
  padding-top: $angled-background-padding-top;
  padding-bottom: $angled-background-padding-bottom;
}

// Color
.angled-background-color {

  .angled-background-inner {
    position: relative;
    z-index: 1;
    background-color: transparent !important;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: -$angled-background-padding-top;
      margin-bottom: -$angled-background-padding-bottom;
      min-height: 100%;
      background-color: #fff;
      z-index: -1;
      @include backface-visibility(hidden);
      @include skew(0, $angled-background-angle);
      transform-origin: center center;
    }
  }
}

// Image
.angled-background-image {
  position: relative;
  z-index: 1;
  background-color: transparent !important;

  .angled-background-image-wrapper {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -$angled-background-padding-top;
    margin-bottom: -$angled-background-padding-bottom;
    min-height: 100%;
    content: '';
    z-index: -1;
    @include backface-visibility(hidden);
    @include skew(0, $angled-background-angle);
    transform-origin: center center;

    .angled-background-image-element {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      z-index: -1;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.angled-background-color-white {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-white;
    }
  }
}

.angled-background-color-gray {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-gray;
    }
  }
}

.angled-background-color-primary {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-primary;
    }
  }
}

.angled-background-color-secondary {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-secondary;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Angled background
  .angled-background-color {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Angled background
  .angled-background-color {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Angled background
  .angled-background-color {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Angled background
  .angled-background-color {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Angled background
  .angled-background-color {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Angled background
  .angled-background-color {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Angled background
  .angled-background-color {}
}

// Print
@media print {

  // Angled background
  .angled-background-color {}
}

// Touch
.touchevents {

  // Angled background
  .angled-background-color {}
}

// No touch
.no-touchevents {

  // Angled background
  .angled-background-color {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Angled background mixin
@mixin angled-background-mixin-color() {}
