// |--------------------------------------------------------------------------
// | Angled background
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .angled-background-color
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Angled background
$angled-background-angle: 5deg;
$angled-background-padding-top: 10px;
$angled-background-padding-bottom: 140px;

// Responsive
$xs-angled-background-padding-top: 10px;
$xs-angled-background-padding-bottom: 50px;

$sm-angled-background-padding-top: 10px;
$sm-angled-background-padding-bottom: 70px;

$md-angled-background-padding-top: 10px;
$md-angled-background-padding-bottom: 140px;

$lg-angled-background-padding-top: 10px;
$lg-angled-background-padding-bottom: 140px;

// Variants
$angled-background-color-white: #fff;
$angled-background-color-light-gray: #ecf2f4;
$angled-background-color-gray: #f4f5f5;
$angled-background-color-primary: $brand-primary;
$angled-background-color-secondary: $brand-secondary;

// --------------------------------------------------
// Styling
// --------------------------------------------------
.path-node{
  & .angled-background-color {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    & .angled-background-inner {
      
      z-index: unset;
    }
  }
  & .angled-background-image {

    background-color: transparent;
    & .angled-background-image-wrapper {
      height: 100%;
      margin-top: -10px !important;
    }
  }
}
// Color
.angled-background-color {

  .angled-background-inner {
    position: relative;
    z-index: 1;
    background-color: transparent !important;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 100%;
      background-color: transparent;
      z-index: -1;
      @include backface-visibility(hidden);
      @include skew(0, $angled-background-angle);
      transform-origin: center center;
     
    
    }
  }
}

// Image
.angled-background-image {
  position: relative;
  z-index: 1;
  background-color: #fff;

  .angled-background-image-wrapper {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    content: '';
    z-index: -1;
    @include backface-visibility(hidden);
    @include skew(0, $angled-background-angle);
    transform-origin: center center;
      outline: 1px solid transparent;
      margin-top: -150px!important;

    .angled-background-image-element {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      z-index: -1;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.angled-background-color-white {

  .angled-background-inner {

    &:before {
      background-color: #fff;
    }
  }
}

.angled-background-color-light-gray {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-gray;
    }
  }
}

.angled-background-color-gray {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-gray;
       
    }
  }
}

.angled-background-color-primary {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-primary;
    }
  }
}

.angled-background-color-secondary {

  .angled-background-inner {

    &:before {
      background-color: $angled-background-color-secondary;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Angled background
  .angled-background-color,
  .angled-background-image {
    padding-top: $xs-angled-background-padding-top;
    padding-bottom: $xs-angled-background-padding-bottom;
  }

  // Color
  .angled-background-color {

    .angled-background-inner {

      &:before {
        margin-top: -$xs-angled-background-padding-top;
        margin-bottom: -$xs-angled-background-padding-bottom;
      }
    }
  }

  // Image
  .angled-background-image {

    .angled-background-image-wrapper {
      margin-top: -$xs-angled-background-padding-top;
      margin-bottom: -$xs-angled-background-padding-bottom;
    }
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Angled background
  .angled-background-color {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Angled background
  .angled-background-color,
  .angled-background-image {
    padding-top: $sm-angled-background-padding-top;
    padding-bottom: $sm-angled-background-padding-bottom;
  }

  // Color
  .angled-background-color {

    .angled-background-inner {

      &:before {
        margin-top: -$sm-angled-background-padding-top;
        margin-bottom: -$sm-angled-background-padding-bottom;
      }
    }
  }

  // Image
  .angled-background-image {

    .angled-background-image-wrapper {
      margin-top: -$sm-angled-background-padding-top;
      margin-bottom: -$sm-angled-background-padding-bottom;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Angled background
  .angled-background-color {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Angled background
  .angled-background-color,
  .angled-background-image {
    padding-top: $md-angled-background-padding-top;
    padding-bottom: $md-angled-background-padding-bottom;
  }

  // Color
  .angled-background-color {

    .angled-background-inner {

      &:before {
        margin-top: -$md-angled-background-padding-top;
        margin-bottom: -$md-angled-background-padding-bottom;
      }
    }
  }

  // Image
  .angled-background-image {

    .angled-background-image-wrapper {
      margin-top: -$md-angled-background-padding-top;
      margin-bottom: -$md-angled-background-padding-bottom;
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Angled background
  .angled-background-color {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Angled background
  .angled-background-color,
  .angled-background-image {
    padding-top: $lg-angled-background-padding-top;
    padding-bottom: $lg-angled-background-padding-bottom;
  }

  // Color
  .angled-background-color {

    .angled-background-inner {

      &:before {
        margin-top: -$lg-angled-background-padding-top;
        margin-bottom: -$lg-angled-background-padding-bottom;
      }
    }
  }

  // Image
  .angled-background-image {

    .angled-background-image-wrapper {
      margin-top: -$lg-angled-background-padding-top;
      margin-bottom: -$lg-angled-background-padding-bottom;
    }
  }
}

// Print
@media print {

  // Angled background
  .angled-background-color {}
}

// Touch
.touchevents {

  // Angled background
  .angled-background-color {}
}

// No touch
.no-touchevents {

  // Angled background
  .angled-background-color {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Angled background mixin
@mixin angled-background-mixin-color() {}
