// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Banner
.banner {
  position: relative;
  background-color: #fff;
  @include angled_background('after');

  h1, h2, h3, h4, h5, h6,
  .block-title {
    position: absolute;
    display: block;
    text-align: center;
    top: 40%;
    @extend h1;
    color: #fff;
    font-weight: $headings-font-weight-bold;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Banner
  .banner {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Banner
  .banner {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Banner
  .banner {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Banner
  .banner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Banner
  .banner {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Banner
  .banner {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Banner
  .banner {}
}

// Print
@media print {

  // Banner
  .banner {}
}

// Touch
.touchevents {

  // Banner
  .banner {}
}

// No touch
.no-touchevents {

  // Banner
  .banner {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Banner mixin
@mixin banner-mixin() {}
