// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Banner
.banner {
  position: relative;
  background-color: transparent;
  @include angled_background('after');

  h1, h2, h3, h4, h5, h6,
  .block-title {
    position: absolute;
    display: block;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    @extend h1;
    font-size: 56px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
  }

  #block-logo-overlay {
    display: none;
    position: absolute;
    right: 0;
    width: 500px;
    height: 100%;
    background: rgba(0, 188, 255, 0.7);
    margin-top: 0px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    -webkit-clip-path: polygon(110% 0, 0% 100%, 100% 100%);
    clip-path: polygon(110% 0, 0% 100%, 100% 100%);
  }

  #logo-frontpage {
    display: none;
    width: 320px;
    min-width: 0 !important;
    margin-left: 150px;
    margin-bottom: 50px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Banner
  .banner {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Banner
  .banner {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Banner
  .banner {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Banner
  .banner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Banner
  .banner {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Banner
  .banner {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Banner
  .banner {}
}

// Print
@media print {

  // Banner
  .banner {}
}

// Touch
.touchevents {

  // Banner
  .banner {}
}

// No touch
.no-touchevents {

  // Banner
  .banner {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Banner mixin
@mixin banner-mixin() {}
