// |--------------------------------------------------------------------------
// | Button
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .btn
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$button-container-width: 60px;
$button-arrow-width: 26px;

// Variants
$button-default-icon-background: darken($btn-default-bg, 14%);
$button-primary-icon-background: #00a5e2;
$button-secondary-icon-background: darken($btn-secondary-bg, 14%);

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Button

.field--name-field-link a {
    
    font-weight: $font-weight-bold;
            font-family: 'Open Sans', sans-serif;
}

.btn-arrow {
    overflow: hidden;
    height: 50px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: flex-end!important;
    padding-left: 100px!important;
}

.btn-arrow {
  @extend .btn;
  @extend .btn-lg;
  position: relative;
  border-radius: 0;
  min-width: 100px;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  border: 0;
  padding-left: floor( ($button-container-width + $button-arrow-width + $padding-base-horizontal) );
  letter-spacing: 1px;

  .icon {
    display: none;
  }

  &:before {
    @extend .icon;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $button-container-width;
      background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMiA0bC0xLjQxIDEuNDFMMTYuMTcgMTFINHYyaDEyLjE3bC01LjU4IDUuNTlMMTIgMjBsOC04eiIvPgo8L3N2Zz4=');
      background-position: 17px center;
      background-size: 35px;
      background-repeat: no-repeat;
     background-color: deepskyblue!important;
    content: 'arrow';
      color: transparent;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 30px;
  }

  &:after {
    position: absolute;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    left: $button-container-width;
    border: solid transparent;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: $button-arrow-width;
    margin-top: -$button-arrow-width;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Default
.btn-default {
  @extend .btn-default;

  &:before {
    background-color: $button-default-icon-background;
    color: $btn-default-color;
  }

  &:after {
    border-left-color: $button-default-icon-background;
  }
}

// Primary
.btn-primary {
  @extend .btn-primary;

  &,


  &:before {
    background-color: $button-primary-icon-background;
  }

  &:after {
    border-left-color: deepskyblue;
  }
}




// Secondary
.btn-secondary {
  @extend .btn-secondary;

  &:before {
    background-color: $button-secondary-icon-background;
  }

  &:after {
    border-left-color: $button-secondary-icon-background;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Button
  .btn {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Button
  .btn {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Button
  .btn {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Button
  .btn {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Button
  .btn {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Button
  .btn {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Button
  .btn {}
}

// Print
@media print {

  // Button
  .btn {}
}

// Touch
.touchevents {

  // Button
  .btn {}
}

// No touch
.no-touchevents {

  // Button
  .btn {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Button mixin
@mixin btn-mixin() {}
