// |--------------------------------------------------------------------------
// | Card
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .card
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$card-background-color: #edeeee;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Card

.card {
    
    font-family: 'Open Sans', sans-serif;

  .card-title {

    &,
    h1, h2, h3, h4, h5, h6,
    .pane-title {
      font-size: $font-size-base;
      @include line-height($font-size-base);
      font-weight: $font-weight-bold;
      color: $headings-color;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 15px;
      font-family: 'Open Sans', sans-serif;

    }
  }


  &.card-block,
  .card-block {
    background-color: $card-background-color;
    padding: ($card-spacer-x * 2);
  }

  .card-text {

    &,
    p {
      color: $text-color;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
  }

  .card-published-at {
    font-weight: $font-weight-bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.50em;
    color: $brand-secondary;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Card
  .card {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Card
  .card {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Card
  .card {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Card
  .card {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Card
  .card {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Card
  .card {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Card
  .card {}
}

// Print
@media print {

  // Card
  .card {}
}

// Touch
.touchevents {

  // Card
  .card {}
}

// No touch
.no-touchevents {

  // Card
  .card {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Card mixin
@mixin card-mixin() {}
