// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__footer
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$footer-background-color: $brand-primary;

// Bottom
$footer-bottom-background-color: #fff;

// Responsive
$xs-footer-padding-top: 15px;
$sm-footer-padding-top: 30px;
$md-footer-padding-top: 50px;

$xs-footer-top-padding-top-bottom: 20px;
$sm-footer-top-padding-top-bottom: 25px;
$md-footer-top-padding-top-bottom: 30px;

$xs-footer-bottom-padding-top-bottom: 15px;
$sm-footer-bottom-padding-top-bottom: 45px;
$md-footer-bottom-padding-top-bottom: 55px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Footer
.layout__footer {
  background-color: $footer-background-color;
  border-top: 0;
     font-weight: bold;
      font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding-bottom: 0;
  @include angled_background('before');

  .layout__footer-inner {
    padding-bottom: 0;
      margin-top: 50px;
  }

  .block,
  nav {
      
       font-weight: 500;
      font-family: 'Open Sans', sans-serif;

    h1,
    h2,
    h3 {

      &,
      &.block-title {
        font-weight: 500;
        font-size: $font-size-h4;
        color: #fff;
        text-transform: uppercase;
              font-family: 'Open Sans', sans-serif;
        padding: 18px 0;
        margin: 0;
      }
    }
  }

  p {
    color: #fff;
        font-weight: 500;
      font-family: 'Open Sans', sans-serif;
  }

  a {
      
      font-weight: 500;
      font-family: 'Open Sans', sans-serif;
      

    &,
    &:hover {
      color: #fff;
    }
  }

  .menu {

    > li {

         font-weight: 500;
      font-family: 'Open Sans', sans-serif;
        
      a {
        padding: 6px 0;
            font-weight: 500;
      font-family: 'Open Sans', sans-serif;

        &,
        &:hover {
          background-color: transparent;
        }

        &,
        &:hover {
          color: #fff;
        }
      }

      &:first-child a {
        padding-top: 0;
      }

      &:last-child a {
        padding-bottom: 0;
      }
    }
  }
}

.region-footer-top-first img {
    
    width: 200px;
    margin-top: -30px;
    margin-left: -30px;
}

.layout__footer-bottom-outer {
  border-top: 1px solid #00ace4;

  p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
        font-weight: 500;
      font-family: 'Open Sans', sans-serif;
  }

  .layout__footer-bottom-copyright {
    @include line-height(26px); // Same height as social icon
      font-size: 0.9em;
          font-family: 'Open Sans', sans-serif;
      letter-spacing: 0.044em;
  }

  .layout__footer-bottom-social {

    a {

      &,
      &:hover {
        font-size: 26px;
        color: #fff;
            font-weight: 500;
      font-family: 'Open Sans', sans-serif;
      }
    }

    .list-inline {
      margin-bottom: 0;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Footer
  .layout__footer {
    padding-top: $xs-footer-padding-top;
  }

  .layout__footer-top-outer {
    padding: $xs-footer-top-padding-top-bottom;
  }

  .layout__footer-bottom-outer {
    padding: $xs-footer-bottom-padding-top-bottom 0;
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Footer
  .layout__footer {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Footer
  .layout__footer {
    padding-top: $sm-footer-padding-top;
  }

  .layout__footer-top-outer {
    padding: $sm-footer-top-padding-top-bottom;
  }

  .layout__footer-bottom-outer {
    padding: $sm-footer-bottom-padding-top-bottom 0;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Footer
  .layout__footer {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Footer
  .layout__footer {
    padding-top: $md-footer-padding-top;
  }

  .layout__footer-top-outer {
    padding: $md-footer-top-padding-top-bottom;
  }

  .layout__footer-bottom-outer {
    padding: $md-footer-bottom-padding-top-bottom 0;
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Footer
  .layout__footer {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Footer
  .layout__footer {}
}

// Print
@media print {

  // Footer
  .layout__footer {}
}

// Touch
.touchevents {

  // Footer
  .layout__footer {}
}

// No touch
.no-touchevents {

  // Footer
  .layout__footer {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Footer mixin
@mixin footer-mixin() {}
