// |--------------------------------------------------------------------------
// | Header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Header
.layout__header {

  .layout-header-contact-information {

    .icon {
      content: $fa-var-phone;
    }
  }

  .layout-header-tour {

    .icon {
      content: $fa-var-bookmark-o;
    }
  }

  .layout-header-contact {

    .icon {
      content: $fa-var-android;
    }
  }

  .layout-header-language-selection {

    ul {
      @extend .list-inline;
      line-height: 38px;
      margin: 0;

      li {

        a {

          &:after {
            display: inline-block;
            content: "|";
            font-size: $font-size-small;
            color: #929191;
            margin-left: 10px;
          }
        }

        &:last-child {

          a {

            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  // Icon
  .layout-header-contact-information,
  .layout-header-tour,
  .layout-header-contact,
  .layout-header-language-selection {
    font-size: $font-size-extra-small;
    text-transform: uppercase;
    padding-left: 18px;
    padding-right: 18px;

    a {

      &,
      &:hover {
        color: #fff;
      }
    }

    span {
      color: $brand-secondary;
      font-size: $font-size-extra-extra-small;
      margin-left: 6px;
    }

    .icon {
      font-size: $font-size-base;
      color: #fff;
    }
  }

  .layout__header-row--top {
    @include layout-header-row-height(38px);
  }

  .layout__header-row--bottom {
    @include layout-header-row-height(67px);
    background-color: #fff;
    border-bottom: 1px solid $border-color;

    .region {

      &,
      > nav {
        display: block;
        width: 100%;
      }
    }

    .layout-navigation__link {
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-right: 0;
      }
    }

    a {
      display: block;
      background-color: #fff;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      color: $text-color;

      &:hover {
        text-decoration: none;
        background-color: $border-color;
      }
    }
  }

  .layout__header-row {
    padding-left: 105px;
    padding-right: 0;
  }

  .layout__header-logo {
    position: absolute;
    background: #00bcff url('../images/logo.png') center center no-repeat;
    background-size: 100%;
    width: 105px;
    height: 105px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Header
  .layout__header {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Header
  .layout__header {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Header
  .layout__header {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Header
  .layout__header {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Header
  .layout__header {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Header
  .layout__header {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Header
  .layout__header {}
}

// Print
@media print {

  // Header
  .layout__header {}
}

// Touch
.touchevents {

  // Header
  .layout__header {}
}

// No touch
.no-touchevents {

  // Header
  .layout__header {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Header mixin
@mixin layout-mixin-header() {}
