// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__content-inner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-page-layout-content-inner-padding-top: 20px;
$sm-page-layout-content-inner-padding-top: 30px;
$md-page-layout-content-inner-padding-top: 40px;

$xs-page-layout-content-inner-padding-bottom: 25px;
$sm-page-layout-content-inner-padding-bottom: 40px;
$md-page-layout-content-inner-padding-bottom: 60px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Page layout
.layout__content {
  padding-top: 0;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Page layout
  .layout__content-inner {
    padding-top: $xs-page-layout-content-inner-padding-top;
    padding-bottom: $xs-page-layout-content-inner-padding-bottom;
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Page layout
  .layout__content-inner {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Page layout
  .layout__content-inner {
    padding-top: $sm-page-layout-content-inner-padding-top;
    padding-bottom: $sm-page-layout-content-inner-padding-bottom;
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Page layout
  .layout__content-inner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Page layout
  .layout__content-inner {
    padding-top: $md-page-layout-content-inner-padding-top;
    padding-bottom: $md-page-layout-content-inner-padding-bottom;
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Page layout
  .layout__content-inner {}

  .layout__header-row .layout-navigation__dropdown-menu {
    max-width: none;
  }

}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Page layout
  .layout__content-inner {}

  .layout__header-row .layout-navigation__dropdown-menu {
    max-width: none;
  }

}

// Print
@media print {

  // Page layout
  .layout__content-inner {}
}

// Touch
.touchevents {

  // Page layout
  .layout__content-inner {}
}

// No touch
.no-touchevents {

  // Page layout
  .layout__content-inner {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() {}


// --------------------------------------------------
// Custom CSS
// --------------------------------------------------

.field--name-field-video {
  width: 100%;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.view-header h2 {
    
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.view-news .view-content .views-row{
  background: #EDEEEE;
  border: 15px solid #ffffff;
  padding:20px;
  min-height: 230px;
}
.fpnews-title{
  font-size:$font-size-base;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.fpnews-title a{
  color:#000;
     font-size: $font-size-small;
  font-weight: bold;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}
.view-news .view-content .views-row .views-field-body p{
  font-size: 12px;
    color: #928f8f;
    font-size: 0.90em;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.view-news .view-content .views-row .field-content{
  margin-top:10px;
  margin-bottom:10px;
}
.fpnews-date {
  font-size: $font-size-small;
  color: #ff6400;
  font-weight: bold;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}


.view-news .view-header h2 a{
  font-size:$font-size-h2;
  text-transform: uppercase;
  font-weight: bold;
  color:#000;
}
.view-nyheder-full-page .view-content .views-row {
  background: #EDEEEE;
  border: 30px solid #fff;
  padding: 20px;
  min-height: 230px;
}


.view-fagpakker-forside .view-content .views-row{
  border: 0px solid #00a5e2;
}

h1, h2, h3, h4, h5, h6 {

      @include line-height($font-size-base);
      font-weight: $font-weight-bold;
      color: $headings-color;
      text-transform: uppercase;
      margin: 0;
      font-family: 'Open Sans', sans-serif;

    }

// Fagpakker forside

.view-class-packages-frontpage .view-header{
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 15px;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;

}

.fagpakker-container {

  width: 100%;
  height: auto;
  min-height: 350px;
  max-width: 283px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: -90px 0px;
  transition: 400ms;
  padding: 0;
  cursor: pointer;
  margin-bottom:30px;
  background-position: top left;
}
.Boldspil{
  background-image: url("http://test.vih.bellcom.dk/sites/default/files/styles/class_packages_frontpage/public/vih-fodbold.jpg");
}
.Fitness{
  background-image: url("http://test.vih.bellcom.dk/sites/default/files/styles/class_packages_frontpage/public/vih-fitness_0.jpg");
}
.Outdoor{
  background-image: url("http://test.vih.bellcom.dk/sites/default/files/styles/class_packages_frontpage/public/vih-outdoor.jpg");
}
.Politi{
  background-image: url("http://test.vih.bellcom.dk/sites/default/files/styles/class_packages_frontpage/public/vih-politi.jpg");
}
.Endurance{
  background-image: url("http://test.vih.bellcom.dk/sites/default/files/styles/class_packages_frontpage/public/vih-endurance.jpg");
}
.Rejser{
  background-image: url("http://test.vih.bellcom.dk/sites/default/files/styles/class_packages_frontpage/public/vih-rejser_0.jpg");
}

.Boldspil-color{
  background-color:#00a5e2;
}
.Fitness-color{
  background-color:#FF5300;
}
.Outdoor-color{
  background-color:#9ED200;
}
.Politi-color{
  background-color:#45535D;
}
.Endurance-color{
  background-color:#00C885;
}
.Rejser-color{
  background-color:#ffc400;
}


.fagpakker-container:hover > .fagpakker-hovering {

  opacity: 1!important;
  transition: 400ms;
  padding: 0;
}


.fagpakker-container:hover .fagpakker-overlay {
  background: rgba(30,125,150,0.898);

}

.fagpakker-container { overflow: hidden; }

.fagpakker-container .fagpakker-overlay {
  width: 100%;
  height: 12vh;
  position: relative;
  bottom: 0;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
  transition: 300ms;
  opacity: 0.9;
  margin-bottom:-1px;
}


.fagpakker-container:hover .fagpakker-overlay:hover {
  background: rgba(30,125,150,0.898);
}


.fagpakker-overlay h1 {

  font-family: lato;
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;;
  font-size: 1.2em;
  bottom: 0;
  padding: 10px;
  padding-right: 25px;
  z-index: 2;
  font-weight: bold;
}

.fagpakker-overlay h1 a{
  color: #fff;
}

.fagpakker-hovering {

  width: 100%;
  max-width: 283px;
  height: auto;
  min-height: 350px;
  background-color: rgba(0,0,0,0.8);
  z-index: 0;
  display: inline-flex;
  position: absolute;
  opacity: 0;
  transition: 400ms;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: flex-start;

}


.fagpakker-hovering p {

  color: #fff;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 19px;
  width: 100%;
  padding: 0;
  text-align: left;
  padding-top: 60px;
  padding-left: 18px;
}
