// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__content-inner
// |
@import '_page-elements.scss';
// --------------------------------------------------
// Variables
// --------------------------------------------------
// Responsive
$xs-page-layout-content-inner-padding-top: 20px;
$sm-page-layout-content-inner-padding-top: 30px;
$md-page-layout-content-inner-padding-top: 40px;
$xs-page-layout-content-inner-padding-bottom: 25px;
$sm-page-layout-content-inner-padding-bottom: 40px;
$md-page-layout-content-inner-padding-bottom: 60px;
// --------------------------------------------------
// Styling
// --------------------------------------------------
html {
    min-height: 100vh;
    height: inherit;
}

.field--name-field-news-tags .field__items {
    padding: 15px;
    border: 1px solid #eee;
}

.field--name-field-news-tags .field--label {
    margin-bottom: 10px;
}

.fagpakker-hovering {
    position: absolute;
    left: 0;
}

.fagpakker-container {
    position: relative;
}

// Page layout
.layout__content {
    padding-top: 0;
}

.layout__wrapper {
    overflow-y: visible;
    overflow-x: visible;
}

.path-node .angled-background-color-white {
    margin-top: -40px!important;
}

.layout-navigation .logo {
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.layout-navigation__link {
    height: 60px;
}

.layout-navigation__link a:hover {
    color: #fff!important;
}

.layout-navigation__link .form-control {
    height: 100%;
}

.layout-navigation__link .form-group {
    height: 100%;
}

.layout-navigation__link form {
    height: 100%;
}

.layout-navigation__link .glyphicon {
    top: 7px;
}

.layout-navigation__link__phone a {
    font-size: 18px;
    letter-spacing: 0.030em;
}

.layout-navigation__link__phone .material-icons {
    font-size: 25px;
    margin-right: 10px;
}

.layout-navigation a {
    text-decoration: none;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.layout-navigation .logo span {
    color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-image: url('../images/vih_logo_white.svg');
    background-size: 200px;
    background-position: center;
}

.path-node .news-container {
    padding-bottom: 100px;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------
// --------------------------------------------------
// Responsive
// --------------------------------------------------
// Mobile - and up
@include media-breakpoint-up(xs) {
    // Page layout
    .layout__content-inner {
        padding-top: $xs-page-layout-content-inner-padding-top;
        padding-bottom: $xs-page-layout-content-inner-padding-bottom;
    }
}

// Mobile - only
@include media-breakpoint-only(xs) {
    // Page layout
    .layout__content-inner {}
    #block-komgodtigang {
        min-height: 70vh;
    }
    .banner {
        height: 400px!important;
    }
    .banner .img-responsive {
        max-width: inherit;
        width: 130%;
    }
    .views-field-field-vih-course-image .img-responsive {
        max-width: inherit!important;
        min-width: 100%;
    }
    .image-with-overlay {
        width: 100vw;
    }
}

// Tablet - and up
@include media-breakpoint-up(sm) {
    // Page layout
    .layout__content-inner {
        padding-top: $sm-page-layout-content-inner-padding-top;
        padding-bottom: $sm-page-layout-content-inner-padding-bottom;
    }
}

// Tablet - only
@include media-breakpoint-only(sm) {
    // Page layout
    .layout__content-inner {}
}

// Desktop - and up
@include media-breakpoint-up(md) {
    // Page layout
    .layout__content-inner {
        padding-top: $md-page-layout-content-inner-padding-top;
        padding-bottom: $md-page-layout-content-inner-padding-bottom;
    }
    .layout-navigation__link {
        height: 100%;
    }
    .layout-navigation__link a:hover {
        color: #000!important;
    }
}

// Desktop - only
@include media-breakpoint-only(md) {
    // Page layout
    .layout__content-inner {}
    .layout__header-row .layout-navigation__dropdown-menu {
        max-width: none;
    }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
    // Page layout
    .layout__content-inner {}
    .layout__header-row .layout-navigation__dropdown-menu {
        max-width: none;
    }
}

// Print
@media print {
    // Page layout
    .layout__content-inner {}
}

// Touch
.touchevents {
    // Page layout
    .layout__content-inner {}
}

// No touch
.no-touchevents {
    // Page layout
    .layout__content-inner {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
// Page layout mixin
@mixin content-mixin-inner() {}

//  -----------------------------------
//  Diffent fixes | START
//  This CSS contains fixes allover
//  the page.
//  -----------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    @include line-height($font-size-base);
    font-weight: $font-weight-bold;
    color: $headings-color;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.view-header h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#block-popup-cta {
    overflow: hidden;
}

#js-view-dom-id-82069330c64efa0f51464bf2cd93f29f3260f65b3d616fc2e014ecdb526401d8 {
    padding-top: 40px;
}

.table tr {
    border: 1px solid #ddd;
    background: none;
}

.table-responsive .views-field-field-course-image {
    width: 330px;
    border: none;
    padding: 0;
}

.table-responsive .views-field-title {
    padding: 23px;
}

.table-responsive .img-responsive {
    min-width: 100%;
    max-width: inherit;
}

.angled-background-color .container p {
    color: #928f8f;
    text-transform: uppercase;
    font-weight: 600;
}

#view-field-vih-course-periods-table-column {
    border-bottom: none;
    padding: 10px;
}

.div.views-field.views-field-field-image {
    overflow: hidden!important;
}

.news-panel .views-field-field-image {
    overflow: hidden!important;
}

#view-title-table-column {
    border-bottom: none;
    padding: 10px;
}

.course-title {
    margin-bottom: 10px;
}

.course-title a {
    font-weight: bold;
    font-size: 18px;
}

.course-body {
    margin-bottom: 10px;
}

.course-supervisor {
    color: #888;
}

.course-supervisor a {
    color: #212121;
    font-size: 14px;
}

article .field--name-field-vih-course-periods {
    margin-bottom: 40px;
}

article .field--name-body {
    margin-bottom: 40px;
}

article .field--name-body p {
    margin-bottom: 20px;
    margin-top: 20px;
}

article .field--name-field-vih-course-periods .field--label {
    margin-bottom: 30px;
}

tr {
    background: transparent!important;
}

.search-content {
    padding-top: 100px!important;
    min-height: 100vh;
}

.path-soeg .form--inline {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.path-soeg .form-type-textfield {
    width: 100%;
}

.path-soeg .control-label {
    display: none;
}

.view-vih-search .view-header {
    margin-bottom: 20px;
}

.view-vih-search .views-row {
    width: 100%;
    height: auto;
    padding: 20px;
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: .4s;
    cursor: pointer;
}

.modal-dialog .modal-content {
    min-height: 100vh!important;
}

.modal-dialog .modal-body {
    height: 100%!important;
}

.view-vih-search .views-row:hover {
    border-bottom: 1px solid #00a5e2;
}

.path-soeg input {
    min-width: 100%;
}

.path-soeg .btn-info {
    height: 48px;
    margin-left: 20px;
    background: #00a5e2;
}

.path-soeg .layout__document {
    height: 100vh;
}

.table-responsive {
    min-height: 100%!important;
}

.fagpakker-hovering p {
    font-size: 14px!important;
    color: #fff!important;
}

.angled-background-inner .field--name-field-heading p {
    color: #fff!important;
}

.page-node-type-page .view-class-packages-frontpage .view-content {
    padding-bottom: 150px;
}

.path-frontpage .view-class-packages-frontpage .view-content {
    padding-bottom: 0px;
}

.path-frontpage .paragraph--type--class-packages .container {
    padding-top: 80px!important;
}

#edit-preview {
    text-transform: inherit!important;
}

.select-wrapper:after {
    color: #aaa;
    padding-right: 1.2em;
    margin-top: -.4em;
}

.form-icon {
    color: #999;
    padding: 7px;
    margin-right: 5px;
    font-size: 18px;
    border: 1px solid #ddd;
}

.modal-backdrop {
    display: none!important;
}

table .field--type-text-long p {
    font-size: 0.9em;
}

//.panel-body tr td:nth-child(2) {
//    width: 30%;
//}

table .btn-radio-select {
    background: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    top: 0!important;
    margin-right: 10px;
}

table .btn-radio-select.active {
    background: #00bcff!important;
    box-shadow: none;
}

.path-langeophold .field--name-field-vih-class-image {
    height: 150px;
    overflow: hidden;
}

.form-select {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: 0.050em;
    color: #999;
    font-size: 14px;
}

.form-text {
    text-transform: uppercase;
    letter-spacing: 0.050em;
    color: #999;
    font-size: 14px;
}

button {
    font-weight: 700!important;
}

.breaker {
    width: 100%;
    height: 30px;
}

.select-wrapper select {
    line-height: 22px!important;
}


/* 404 */

#main {
    display: table;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
    line-height: inherit!important;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

article p {
    line-height: 26px;
}

.course-supervisor span:first-letter {
    text-transform: uppercase!important;
}

.table-responsive .views-field-field-vih-course-periods {
    width: 150px;
    padding: 25px;
    padding-left: 10px;
}

.path-node .angled-background-inner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.path-frontpage .field--name-field-link field--type-link .btn-arrow {
    font-weight: bold!important;
}

.path-node .angled-background-inner .container p {
    margin-bottom: 25px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold!important;
    color: #fff;
    font-family: "Open Sans", Sens-serif !important;
}

.field--name-field-heading {
    width: 100%;
}

.path-node .paragraph--type--_-column-action-centered .field--name-field-heading {
    margin-bottom: 100px;
}

.path-node .paragraph--type--class-packages .angled-background-inner {
    margin-bottom: 100px;
}

.banner-title {
    font-weight: bold!important;
    font-family: 'Open Sans', sans-serif;
}

.material-icons {
    font-size: 17px;
}

.popover .arrow {
    display: none;
}

.popover #search-form {
    height: 100%;
}

.popover .form-group {
    height: 100%;
}

.popover .form-control {
    height: 100%;
}

.layout-navigation {
    .popover {
        right: 0;
        max-width: 100%;
        .btn-search {
            position: absolute;
            top: 0px;
            width: 70px;
            height: 70px;
            background-color: #00bcff;
            right: 2px;
            box-shadow: none;
            border: none;
        }
    }
}

.popover-content {
    padding: 0;
    height: 100%
}

.popover {
    z-index: -1;
    top: 57px!important;
    margin-right: -5px;
    overflow: hidden;
    height: 65px;
}

.popover-content input {
    border: none;
    box-shadow: none;
}

.field--name-field-video {
    width: 100%;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.field--name-field-heading {
    font-family: "Open Sans", Sens-serif !important;
    font-size: 1.777em !important;
}

ul li {
    color: #888;
}


/*
.related-classes-span{
  margin-top: auto;
  background: #00a5e2;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 5px;
  padding-top: 5px;
  opacity: 0.8;
}

.related-classes-span a{
  color:#fff;
}

.related-classes-col{
background-image: url('http://test.vih.bellcom.dk/sites/default/files/styles/class_packages_frontpage/public/vih-fodbold.jpg');
height:125px;
border:15px solid #fff;
display: flex;
flex-direction: column;
}
*/

//  ***********************************
// News conainer // 
.layout__news .view-content {
    display: flex;
    flex-direction: column;
}

.layout__news .news-container {
    padding-top: 50px;
}

.layout__news .view-header {
    display: none;
}

.layout__news.layout-taxonomy .view-header {
    display: block;
}

.field--name-field-event-list .field--label {
    display: none;
}

.field--name-field-event-list .fpnews-content p {
    margin-top: 0px;
}

.view-nyhedsside .view-content {
    padding-bottom: 150px;
}

.view-eventside .view-content {
    padding-bottom: 150px;
}

.view-class-packages-frontpage .view-header {
    font-size: 24px!important;
}

.field--name-field-news-list .field--label {
    display: none;
}

.news-info p {
    color: #777!important;
    line-height: 18px;
    margin-top: 18px;
    text-transform: inherit!important;
}

.fpnews-title {
    margin-bottom: 10px;
}

.layout__news .node-page-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.layout__news .content .field--name-field-bg-image {
    display: none;
}

.layout__news .angled-background-color .angled-background-inner:before {
    height: 160px!important;
    z-index: 9999999;
    top: -190px;
    position: relative;
    border-bottom: 10px solid white;
}

.path-taxonomy .layout__news .angled-background-color .angled-background-inner:before {
    top: -130px;
    border-bottom: 220px solid white;
    min-width: 100vw;
}

.path-langeophold .news-container {
    padding-bottom: 150px!important;
}

#page-html .banner:after {
    background: white;
    border-bottom: 190px solid #fff;
}

#page-html .angled-background-color .angled-background-inner:before {
    display: none;
}

.path-taxonomy .news-container {
    padding-bottom: 150px;
}

.path-taxonomy .layout__content .news-container {
    padding-bottom: 0px;
}

.layout__news .angled-background-color-white {
    height: 20px;
    padding-bottom: 20px;
}

.news-banner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
}

.news-banner-title {
    color: #fff;
    margin-top: -100px;
}

.news-info {
    justify-content: space-between;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-panel {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.layout__news .views-field-body {
    height: 150px;
}

.layout__news .btn {
    border-radius: 0px;
    background: #00bcff;
    color: #fff;
    height: 40px;
    padding-top: 8px;
}

.btn-arrow {
    padding-top: 16px !important;
}

.layout__news .views-field-field-image .field-content {
    width: 310px;
}

.layout__news .fpnews-title {
    font-size: 20px;
}

.layout__news .views-field-view-node {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.news-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 40vw;
}

.news-info .fpnews-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news-info .fpnews-date i {
    margin-right: 8px;
}

.news-info .fpnews-date span {
    color: #999;
}

.field--name-field-image .field--label {
    display: none;
}

.page-node-type-news .field--name-field-image img {
    width: 50%;
    margin-top: 20px;
}

.btn {
    border: none;
    border-radius: 0px;
}

.btn-simple {
    padding-left: 40px!important;
    padding-right: 40px!important;
}

.path-frontpage .btn-arrow {
    max-width: 210px!important;
}

.path-frontpage .field--name-field-link {
    display: flex;
    justify-content: center;
}

.path-node .news-container {
    padding-bottom: 0px!important;
}

.path-node article .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.path-node article .field--name-body {
    padding-bottom: 200px;
    max-width: 1024px;
    padding: 40px;
    margin-bottom: 150px;
    padding-top: 0px;
}

.page-node-type-vih-long-cource article .field--name-body {
    padding: 0px;
}

.path-node article .field--name-field-paragraphs {
    width: 100%;
}

#block-komgodtigang .banner-content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#block-komgodtigang .field--name-field-link {
    max-width: 205px;
}

.fagpakker-overlay {
    left: 0;
}

.path-kortkurser .banner:after {
    background: white!important;
    border-bottom: 170px solid white;
}

.path-kortkurser .angled-background-inner:before {
    display: none!important;
}

.path-taxonomy div[role=heading] {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.path-taxonomy div[role=heading] .region-content {
    min-height: 100%;
    width: 1024px;
    padding: 40px;
    margin-bottom: 80px;
}

.path-taxonomy article .col-sm-6 {
    padding-left: 0px;
}

.path-taxonomy .angled-background-inner {
    width: 100%;
}

.page-node-type-vih-long-cource .paragraphs {
    width: 100vw;
}

div[role=heading] {
    margin-top: 150px;
}

.views-field-field-vih-course-image .image-with-overlay {
    height: 100%;
    overflow: hidden;
}

.views-field-field-vih-course-image .image-with-overlay {
    min-height: 150px;
}

.views-field-field-vih-course-image .image-with-overlay a {
    color: #fff;
}

.views-field-field-vih-sc-image .image-with-overlay {
    height: 100%;
    overflow: hidden;
}

.views-field-field-vih-sc-image .image-with-overlay {
    min-height: 150px;
}

.views-field-field-vih-sc-image .img-responsive {
    display: block;
    max-width: 120%;
    height: auto;
}

.view-long-course-list- .view-content {
    padding-bottom: 200px;
}

.view-short-course-list- .view-content {
    padding-bottom: 200px;
}

.field--name-field-short-course .field--label {
    display: none;
}

.field--name-field-long-course .field--label {
    display: none;
}

.views-field-field-vih-course-image .img-responsive {
    display: block;
    max-width: 120%;
    height: auto;
}

.layout__header .layout__header-row--bottom .layout-navigation > .layout-navigation__link.active > a {
    background-color: transparent!important;
}

.field--item:nth-child(5) .field--name-field-heading {
    margin-top: -50px;
}

.field--type-string p {
    color: #928f8f!important;
}

@media screen and (max-width: 869px) {
    .layout-navigation--full-width {
        font-size: 12px!important;
    }
    .banner {
        overflow: hidden!important;
    }
}

@media screen and (max-width: 990px) {
    .news-info {
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
    .modal-dialog {
        width: inherit!important;
    }
    .fpnews-title {
        font-size: 13px!important;
    }
    .news-panel .views-row {
        flex-direction: column!important;
    }
    .news-banner {
        height: 0px!important;
    }
}

.path-frontpage .field--name-field-bg-image {
    display: none!important;
}

.image-overlay {
    width: 100%;
    height: 80px;
    position: absolute;
    //    background: rgba(255, 100, 0, 0.85);
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiID4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJkaWFnb25hbCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIGZpbGw9InJnYmEoMjU1LCAxMDAsIDAsIDAuODUpIj4KICAgIDxwb2x5bGluZSBwb2ludHM9Ii0xMDAsMTQwIDEwMCwwIDEwMCwxMDAgMCwxMDAiLz4KICA8L3N2Zz4g');
    background-size: 400px;
    background-position: 0px -10px;
    background-repeat: no-repeat;
}

.image-with-overlay {
    position: relative;
}

//  -----------------------------------
//  Frontpage Class Package | START
//  This CSS is used for the frontpage
//  class package view.
//  -----------------------------------
.view-fagpakker-forside .view-content .views-row {
    border: 0px solid #00a5e2;
}

.view-class-packages-frontpage .view-header {
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 15px;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
}

.popover {
    border-radius: 0px;
}

.popover .glyphicon-search {
    color: #fff;
}

.path-frontpage .field--name-field-heading p {
    font-weight: bold!important;
}

.fagpakker-container {
    width: 100%;
    height: auto;
    max-width: 283px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: -90px 0px;
    transition: 400ms;
    padding: 0;
    cursor: pointer;
    margin-bottom: 30px;
    background-position: top left;
}

.color-blue {
    background-color: #00a5e2;
}

.accordion-color-blue {
    border-left: 6px solid #00a5e2 !important;
    border-radius: 0;
}

.color-red {
    background-color: #FF5300;
}

.accordion-color-red {
    border-left: 6px solid #FF5300 !important;
    border-radius: 0;
}

.color-cyan {
    background-color: #9ED200;
}

.accordion-color-cyan {
    border-left: 6px solid #9ED200 !important;
    border-radius: 0;
}

.color-purple {
    background-color: #45535D;
}

.accordion-color-purple {
    border-left: 6px solid #45535D !important;
    border-radius: 0;
}

.color-green {
    background-color: #00C885;
}

.accordion-color-green {
    border-left: 6px solid #00C885 !important;
    border-radius: 0;
}

.color-yellow {
    background-color: #ffc400;
}

.accordion-color-yellow {
    border-left: 6px solid #ffc400 !important;
    border-radius: 0;
}

.fagpakker-headline a {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: 600;
}

.fagpakker-hovering p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 12px;
    font-weight: bold;
}

.fagpakker-container:hover > .fagpakker-hovering {
    opacity: 1!important;
    transition: 400ms;
    padding: 0;
}

.fagpakker-container:hover .fagpakker-overlay {
    background: rgba(30, 125, 150, 0.898);
}

.fagpakker-container {
    overflow: hidden;
    position: relative;
}

.fagpakker-container .fagpakker-overlay {
    width: 100%;
    height: 12vh;
    bottom: 0;
    /*  position: relative;*/
    -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
    transition: 300ms;
    opacity: 0.9;
    margin-bottom: -1px;
}

.fagpakker-overlay {
    position: absolute;
}


/*.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}*/


/*.fagpakker-container > div > img {
   z-index: 0;
}

.fagpakker-container {
  z-index: 1;
}

.fagpakker-overlay {
  z-index: 3;
}*/

.fagpakker-container:hover .fagpakker-overlay:hover {
    background: rgba(30, 125, 150, 0.898);
}

.fagpakker-overlay h1 {
    font-family: lato;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    ;
    font-size: 1.2em;
    bottom: 0;
    padding: 10px;
    padding-right: 25px;
    z-index: 2;
    font-weight: bold;
}

.fagpakker-overlay h1 a {
    color: #fff;
}

.fagpakker-hovering {
    width: 100%;
    max-width: 283px;
    height: auto;
    min-height: 345px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
    display: inline-flex;
    position: absolute;
    opacity: 0;
    transition: 400ms;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.fagpakker-hovering p {
    color: #fff;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    line-height: 19px;
    width: 100%;
    padding: 0;
    text-align: left;
    padding-top: 60px;
    padding-left: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .fagpakker-hovering {
        min-height: 270px;
    }
}

//  ***********************************
//  -----------------------------------
//  Class Package Class CSS | START
//  This CSS is used for the Class
//  package class CSS
//  -----------------------------------
.fp-container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("http://test.vih.bellcom.dk/sites/default/files/circles-and-roundabouts.png");
    background-position: -90px 0px;
    transition: 400ms;
    padding: 0;
    cursor: pointer;
    margin-bottom: 30px;
}

.fp-container:hover > .fp-hovering {
    opacity: 1!important;
    transition: 400ms;
    padding: 0;
}

.fp-container:hover .fp-overlay {
    background: rgba(30, 125, 150, 0.898);
}

.fp-container {
    overflow: hidden;
}

.fp-container .fp-overlay {
    width: 100%;
    height: 20vh;
    position: relative;
    background: #00bcff;
    bottom: 0;
    -webkit-clip-path: polygon(0 70%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0 70%, 100% 50%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
    transition: 300ms;
}

.fp-container:hover .fp-overlay:hover {
    background: #00a5e2;
}

.fp-overlay h1 {
    font-family: lato;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    ;
    font-size: 13px;
    bottom: 0;
    padding: 0px;
    padding-right: 10px;
    z-index: 2;
    text-align: right;
}

.fp-overlay a {
    color: #fff;
}

.fp-hovering {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
    display: inline-flex;
    position: absolute;
    opacity: 0;
    transition: 400ms;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.fp-hovering p {
    color: #fff;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    line-height: 19px;
    width: 100%;
    padding: 0;
    text-align: left;
    padding-top: 15px;
    padding-left: 18px;
}

.fp-bg-container {
    background-color: #f1f1f1 !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    border-top: 25px solid #fff;
}

//  ***********************************
//  -----------------------------------
//  Teacher related CSS | START
//  This CSS is used for the teachers
//  and relations
//  -----------------------------------
.teacher-teaches-row {
    background-color: #00bcff;
    color: #fff !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    border-top: 25px solid #fff;
}

.teacher-teaches-row a {
    color: #fff !important;
}

.teacher-teaches-row h2 {
    color: #fff !important;
}

.teacher-c-desc {
    background-color: #f1f1f1 !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    border-top: 25px solid #fff;
}

.view-vih-teacher-teaches-classes .views-field-name-1 {
    background: #00a5e2;
    min-height: 85px;
    text-align: center;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.lc-price-box {
    margin-top: 7px;
}

.lc-contact-box {
    margin-top: 55px;
}

.lc-btn-box {
    margin-top: 32px;
}

.modal-class div.field--name-description {
    padding: 10px 40px 10px 0;
}

.modal-class div.field--name-description p {
    text-transform: uppercase;
    line-height: 20px !important;
    font-size: 14px !important;
    text-align: left;
    font-weight: 600!important;
}

// Long Course

.page-node-type-vih-long-cource .accordion-toggle {
    color: #000!important;
}
.page-node-type-vih-long-cource .panel p {
    font-weight: 500;
}

.page-node-type-vih-long-cource .blue h4 a {
    font-size: 16px!important;
}

.page-node-type-vih-long-cource .panel {
    border: none!important;
    border-bottom: 1px solid #ddd!important;
    border-right: 1px solid #ddd!important;
}
.page-node-type-vih-long-cource .panel:last-child() {
    border: none!important;
    border-right: 1px solid #ddd!important;
}
.page-node-type-vih-long-cource .panel-heading {
    border-bottom: none!important;
    border-top: none!important;
}
.page-node-type-vih-long-cource .col-sm-6 .long-course-heading-sidebar {
    margin-top: 20px;
}
.page-node-type-vih-long-cource .color-gray {
    margin-bottom: 20px;
}

.page-node-type-vih-long-cource article .field .field__items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-node-type-vih-long-cource .panel-collapse .panel-body {
    border-left: 1px solid #ddd;
    border-right: none!important;
}

.page-node-type-vih-long-cource .panel-collapse .panel-banner {
    border-left: 1px solid #ddd;

}
.page-node-type-vih-long-cource .panel-collapse .panel-banner .diagonal-end {
       border-left: 1px solid #ddd;
}

.field--name-field-vih-course-periods .field--item {
    font-weight: bold;
    color: #555;
}
.clock-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.clock-icon i {
    font-size: 32px;
    color: #ff6400;
}
.course-period-wrapper {
    text-align: left;
}
.course-period-wrapper span i {
    margin-right: 10px;
}
.teacher-contact-info h5 {
    margin-bottom: 20px;
}
.teacher-contact-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.teacher-mail, .teacher-phone {
    display: flex;
    justify-content: left;
    align-items: center;
}

// Tilmelding long course

.path-langeophold .panel-default .panel-title a {
    color: #000;
}
.paragraphs .field--type-string {
    margin-top: -70px;
    margin-bottom: 100px!important;   
}
.modal-content .field--type-string {
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.lc-price-box {
    margin-bottom: 100px;
}


// Page node

.path-node .field--name-body {
    width: 100%;
}

// Modal 

.modal-course-description {
    margin-bottom: 50px;
}
.field--name-field-vih-class-image img {
    min-width: 100%!important;
}
.vih_class_table_teaser {
    overflow: hidden;
}
.vih_class_table_teaser tr {
    padding: 0;
}
.vih_class_table_teaser .col-xs-6 {
    padding: 0;
}
.vih_class_table_teaser .field--type-text-long {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-class div.field--name-description {
    padding: 0px;
    padding: 30px!important;
}
.multiple-elements {
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
    width: 90%!important;
    margin-top: 15px;
}
.multiple-elements .btn-more {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.multiple-elements .btn-more i {
    margin: 0;
}
.course-periods-accordion .radio_selection table p {
    text-transform: uppercase;
    font-weight: bold!important;
    color: #555!important;
}
.modal-content .modal-body p {
    text-transform: none!important;
    font-weight: inherit!important;

}
.vih-subscription-long-course-order-form input, .vih-subscription-long-course-order-form select {
    font-weight: bold!important;
}
.radio_selection .col-xs-3 {
    width: 20%!important;
}
.radio_selection .class-selection {
    margin-bottom: -1px!important
}
.modal-dialog {
    overflow-y: scroll!important;
    margin-top: 100px!important;
    padding-bottom: 0!important;
}
.modal-content {
    overflow-y: scroll;
    overflow: hidden!important;
}
.modal-body {
       overflow-y: scroll!important; 
}
.path-langeophold .modal-body {
    width: 70%;
    margin-top: 50px!important;
}
.layout__news .angled-background-color .angled-background-inner:before {
    z-index: 99!important;
}
.btn {
    font-weight: bold!important;
}
.panel-body__zero-padding .field--name-description p {
    text-transform: uppercase!important;
}
.course-subheading {
    color: #888!important;
}
.layout-navigation__link.active {
    background: white;
    border-top: 1px solid rgba(0,0,0,0.1);
}
ul.layout-navigation.layout-navigation--full-width.layout--large-screen-only.dropdown-menu.layout-navigation__dropdown-menu {
    top: 0px!important;
}
.layout-navigation__dropdown-menu .layout-navigation__link {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.logo-wrapper-mobile {
    display: flex!important;
    width: 100%!important;
    justify-content: center;
    margin-left: -63px;
}
.logo-wrapper-mobile img {
    width: 190px;
}
.layout__header-mobile .active a {
    background: none!important;
}
.layout__header-mobile .active ul {
    background: none!important;
}
.layout__header-mobile .active ul .layout-navigation__link {
    border-left: none!important;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1)!important;
}
.btn-radio-select .control-label {
    font-weight: bold!important;
}
.course-periods-accordion .field--name-description p {
    font-weight: bold!important;
}

.file--mime-application-pdf {
    background: none!important;
    border: 1px solid #00a5e2!important;
    margin-bottom: 25px;
}
@media only screen and (max-width: 1130px) {
    .vih_class_table_teaser .field--name-field-vih-class-image img {
        min-width: 150%!important;
    }
    .field--name-field-vih-class-image { overflow: hidden!important; }
}
@media only screen and (max-width: 870px) { 
    .modal-course-content-teaser-wrapper {
        display: flex;
        flex-direction: column;
    }
    .modal-course-content-teaser-wrapper .col-xs-6 {
        width: 100%;
    }
    .modal-course-content-teaser-wrapper .field--type-string {
    margin: 20px;
    padding-bottom: 10px;    
    }
    .panel-title a {
        text-align: left;
    }
    .modal-content p {
        text-align: left;
    }
    .modal-body {
        padding: 40px!important;
        padding-right: 40px!important;
    }
    .page-node-type-vih-long-cource article .table-bordered tr {
        display: flex;
        flex-direction: column;
    }
    .field--name-field-vih-user-photo img {
        min-width: 100%;
    }
    .breadcrumb li, .breadcrumb li a {
        width: 100%;
        font-size: 12px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .breadcrumb li + li:before {
        height: 100%!important;
    margin-top: -28px!important;
            border-width: 30px!important;
    }
    .breadcrumb {
        display: flex!important;
        flex-direction: row;
        max-width: 450px;
    }
    .breadcrumb li:first-child a:before {
        padding-right: 10px;
    }
    header .layout__header-row {
            width: 100%!important;
    display: flex!important;
    flex-direction: row!important;
    }
}
//  ***********************************