// |--------------------------------------------------------------------------
// | Page elements
// |--------------------------------------------------------------------------
// |
// | This file is created by Simon Tofteby
// | 
// |


// Eliminate bad font-size behavour 

.field, .field--name-field-heading {
    
  //  font-size: inherit !important;
}

.field--name-field-heading h3 {
    
    margin-bottom: 40px;
}

#accordians {
    width: 100%;
}
#tabs {
    width: 100%;
}
// Font colors

$font-light: #aaaaaa;
$font-pale: #fff;
$font-dark: #000;


// White color font
.f-pale { color: $font-pale!important; }

// Light color font
.f-light { color: $font-light!important; }

// Dark color font
.f-dark { color: $font-dark!important; }


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Font sizes

p {
    
    font-weight: 400;
    color: #888!important;
}

footer p {
    
    color: $font-pale!important;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
    font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em!important;}

h4 {font-size: 1.333em!important;}

small, .font_small {font-size: 0.75em;}

// Font-family
$font-family-primary: 'Lato', sans-serif;
// Styleguide Banner
.styleguide-banner {
    background: rgba(0, 165, 226, 0.99)!important;
    background-image: url('https://vih.dk/sites/vih.local/files/styles/panopoly_image_full/public/shortcourses/kajak-3.jpg?itok=-9nCVQCw')!important;
    background-size: cover!important;
    background-position: 0px -500px;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    h1 {
        color: #fff;
    }
}

.breaker {
    width: 100%;
    height: 150px;
}

// Buttons 

.btn-simple {
    
    width: auto;
    max-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    background: #00bcff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-family-primary;
}

.btn-simple:hover {
    
    color: #fff;
}


// Codebox
.codebox {
    /* Below are styles for the codebox (not the code itself) */
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #f8f8f8;
    width: 100%;
    padding: 40px;
    height: 300px;
    overflow-y: scroll;
    code {
        /* Styles in here affect the text of the codebox */
        font-size: 0.9em;
        color: #000;
        text-decoration: none;
        text-emphasis-color: none;
        text-decoration: none;
        text-emphasis-style: none;
        font-size: 18px;
        background: none;
        /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
    }
}

// Tabs
.panel {
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
        font-family: $font-family-primary;
        font-weight: 700;
    }
}

.panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.panel-title {
    margin-left: 10px;
    a {
        text-transform: uppercase;
        font-size: 16px;
        font-family: $font-family-primary;
        font-weight: 700;
        letter-spacing: 0.050em;
        padding: 0 !important;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.panel-heading .accordion-toggle {
    &:after {
        content: "–";
        /* adjust as needed, taken from bootstrap.css */
        float: right;
        font-weight: 200;
        /* adjust as needed */
        color: grey;
        font-size: 20px;
        color: #000;
        opacity: 1;
        /* adjust as needed */
    }
    &.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "+";
        /* adjust as needed, taken from bootstrap.css */
    }
}

.accordion-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.panel {
    margin-top: 0px !important;
    box-shadow: none;
}

.white-border-top {
    border-top: 1px solid #fff !important;
}

.white-border-bottom {
    border-bottom: 1px solid #fff !important;
}

.white-border {
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
}

.blue {
    background: #00bcff;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-radius: 0 !important;
    color: #fff !important;
    a {
        color: #fff !important;
    }
}

.tabs-toggle {
    background: none !important;
}

.btn-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tabs:first-child {
    border-left: none;
}

.tabs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ddd;
    height: 100% !important;
    a {
        color: #000;
        font-family: $font-family-primary;
        font-weight: 600;
        font-size: 14px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: #ff6400;
        &:hover {
            color: #000;
            text-decoration: none;
        }
        &:focus {
            background: rgba(0, 0, 0, 0.04) !important;
            box-shadow: none;
            border-bottom: 3px solid #ff6400;
            outline: none;
            text-underline-position: none;
            text-decoration: none;
        }
    }
    border-bottom: 1px solid #ddd;
}

.btn-group,
.btn-group-vertical {
    display: flex !important;
}

//input[type="radio"]:checked {
//    display: none !important;
//}

.tab-heading {
    background: #fff !important;
}

.panel-group {
    border-bottom: 1px solid #ddd;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
    .panel-body__zero-padding {
      margin: -15px;
    }
}

// Accordians
.panel-title a {
    font-size: 14px!important;
    padding-right: 15px!important;
}

// Colors
.main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family-primary;
    font-weight: 600;
    p {
        margin-top: 10px;
        font-family: $font-family-primary;
        font-weight: 600;
    }
}

.color-preview {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    font-family: $font-family-primary;
    font-weight: 600;
}

// Alerts
.alert {
    border-radius: 0!important;
    font-family: $font-family-primary;
    font-weight: 600;
}

// Modal
.modal-header {
    border: none !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #00bcff;
    overflow: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-size: cover;
}

.modal-backdrop {
    z-index: 0;
}

#diagonal {
    position: absolute;
    width: 105%;
    height: auto;
    margin-left: -10px;
    margin-top: 60px;
}

.modal-content {
    padding: 0;
    height: 100%;
    border-radius: 0px !important;
    overflow: hidden;
    border: none;
    -webkit-box-shadow: 0px 0px 93px -20px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 93px -20px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 93px -20px rgba(0, 0, 0, 0.55);
}

.modal-dialog {
    width: 70% !important;
    max-width: 1100px!important;
    height: 80% !important;
    border-radius: 0px !important;
    height: 100vh!important;
    padding-top: 100px;
    padding-bottom: 100px;
}

.modal-header-title {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    h4 {
        font-size: 38px;
        color: #fff !important;
        font-weight: 600;
    }
}

.btn-more {
    background: none!important;
    width: 40px;
    height: 40px;
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-more i {
    color: #bbb;
    font-size: 16px;
}

.btn-more .fa {
    font-size: 18px!important;
    margin-top: 5px;
}

.modal-header {
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modal-header-close {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    z-index: 999;
    padding-right: 10px;
}

.modal-body {
    padding: 80px !important;
    padding-top: 0px !important;
    height:300px;
    padding-right: 60px !important;
    margin-right: 20px;
    overflow-y : auto;
}

.modal-header .close {
    color: #000 !important;
    padding-bottom: 2px !important;
    background: #fff !important;
    border-radius: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 40px;
    height: 40px;
    opacity: 1;
    font-weight: 200;
    font-size: 24px;
}

.diagonal-end {
    width: 100%;
    height: 150px;
    background-image: url('http://svgshare.com/i/1Kc.svg');
    background-size: 200%;
    background-position: -20px;
}

.panel-banner {
  height: 200px;
  border: none !important;
  background: #00bcff;
  overflow: hidden;
  padding-bottom: 0;
  background-size: cover;
  .diagonal-end {
    height: 51px;
  }
}

.panel-body {
  padding: 0 50px 40px 50px !important;
}

.panel-body p {
  font-family: 'Open Sans', sans-serif !important;
  font-size:12px !important;
  font-weight: normal !important;
}
  
.banner-spacer {
  height: 149px;
}

.align-r {
  text-align: right;
}

.align-c {
  display: flex; 
  align-items: center; 
  min-height: 10vh;
}

.m40 {
  margin-top:40px;
}

.color-gray {
  color:#777;
}