.lt-ie10 {
  & .btn {
    &:before {
      padding-top: 7px;
    }
  }
  & .banner .banner__inner .container .banner__heading{
    margin-top: 300px;
  }
  & label[for="edit-newparticipantcontainer-newparticipantfieldset-firstname"],
  & label[for="edit-newparticipantcontainer-newparticipantfieldset-lastname"],
  & label[for="edit-newparticipantcontainer-newparticipantfieldset-cpr"],
  & label[for="edit-newparticipantcontainer-newparticipantfieldset-email"]{
    display: block;
  }
  & .vih-suboptions-container.form-group{
    display: block !important;
  }
  & .vih-suboptions-container fieldset.fieldgroup.form-composite.form-item.form-wrapper legend span.fieldset-legend{
    display: block;  
    font-size: 14px;
  }
}

/*IE9 fixes revert for other browsers*/
label[for="edit-newparticipantcontainer-newparticipantfieldset-firstname"],
label[for="edit-newparticipantcontainer-newparticipantfieldset-lastname"],
label[for="edit-newparticipantcontainer-newparticipantfieldset-cpr"],
label[for="edit-newparticipantcontainer-newparticipantfieldset-email"]{
  display: none;
}
.vih-suboptions-container fieldset.fieldgroup.form-composite.form-item.form-wrapper legend span.fieldset-legend{
  display: none;  
}