// |--------------------------------------------------------------------------
// | Class taxonomy 'VIH class table teaser modal' display
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .vih_class_table_teaser_modal
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------



// --------------------------------------------------
// Styling
// --------------------------------------------------

// Class taxonomy 'VIH class table teaser modal' display
.vih_class_table_teaser_modal{
  & .field-vih-class-image{
    width: 100%;
    height: 122px;
    & .field.field--name-name.field--item{
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      color: #fff !important;
      font-size: 16px;
    }
  }
  & .flex-center-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 122px;
    & .field-description-wrapper{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      width: 90%;
    }
    .btn-more {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  & .modal-dialog{
    & .field.field--name-description{
      & h1, h2, h3, h4, h5, p{
        color: #888;
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{

  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// Print
@media print {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// Touch
.touchevents {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// No touch
.no-touchevents {

  // Class taxonomy 'VIH class table teaser modal' display
  .vih_class_table_teaser_modal{
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Breadcrumb mixin
@mixin breadcrumb-mixin() {}
