<!-- Begin - wrapper -->
<div class="layout__wrapper layout--fixed-header">
    {{ drupal_block('popup_cta') }}
    <!-- Begin - drawer -->
    <div class="layout__drawer" aria-hidden="true">

        <!-- Begin - title -->
        <span class="layout-title">Title</span>
        <!-- End - title -->

    </div>
    <!-- End - drawer -->

    {# Begin - header #}
    {% include '@site/_partials/header.html.twig' %}
    {# End - header #}

    <!-- Begin - document -->
    <main class="layout__document" role="document">

        <!-- Begin - content -->
        <div class="layout__content">

            <!-- Begin - content -->
            <section{{ content_attributes.addClass(content_classes) }}>
                {% block content %}
                    <!-- Begin - content -->
                    <a id="main-content"></a>

                    {% if node and node.getType == 'page' %}
                        {{ page.content }}
                        {{ page.breadcrumb }}
                    {% else %}
                        <div class="angled-background-color angled-background-color-white">
                            <div class="angled-background-inner" style="position: unset !important;">
                                <div class="container">
                                    <div id="main">
                                        <div class="fof">
                                            <h1>Error 404</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <!-- End - content -->
                {% endblock %}
            </section>
            <!-- End - content -->

        </div>
        <!-- End - content -->

        {# Begin - footer #}
        {% include '@site/_partials/footer.html.twig' %}
        {# End - footer #}

    </main>
    <!-- End - document -->

    <!-- Begin - obfuscator -->
    <div class="layout__obfuscator"></div>
    <!-- End - obfuscator -->

</div>
<!-- End - wrapper -->
