# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
/docroot/sites/vejle_ih.dd
/docroot/libraries/cropper
/docroot/libraries/dropzone

# Ignore Composer-managed dependencies.
vendor/

# --------------------------------------------------
# - Custom ignore
# --------------------------------------------------

# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.phpintel
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# Komodo
.komodotools
*.komodoproject

# grunt-html-validation
validation-report.json
validation-status.json

# Folders to ignore
bower_components
node_modules
logs
sessions
tmp
share
others
private

# Files that might appear on external disks
.Spotlight-V100
.Trashes

#Because of site reinstall issue VI-206 we don't change this files
/config/sync/field.storage.node.body.yml
/config/sync/field.storage.node.panelizer.yml
bellcom_quickpay_integration.settings.yml
mailchimp.settings.yml

# Exclude all config from git index
/config/sync/*
/config/vih/*
/config/vies/*

## Except of listed below
# Folder settings
!config/*/.htaccess

# Config management config
!config/*/config_ignore.*
!config/*/config_split.*

# Except core config
!config/*/core.base_field_override.*
!config/*/core.date_format.*
!config/*/core.entity_form_display.*
!config/*/core.entity_form_mode.*
!config/*/core.entity_view_display.*
!config/*/core.entity_view_mode.*
!config/*/core.extension.yml
!config/*/core.menu.static_menu_link_overrides.yml
!config/*/entity_browser.*
!config/*/field.field.*
!config/*/field.settings.yml
!config/*/field.storage.*
!config/*/filter.format.*
!config/*/image.style.*
!config/*/language.yml
!config/*/language.*
!config/*/node.settings.yml
!config/*/node.type.*
!config/*/paragraphs.paragraphs_type.*
!config/*/taxonomy.settings.yml
!config/*/taxonomy.vocabulary.*
!config/*/user.*
!config/*/views_send.settings.yml
!config/*/views.*
