sudo: false
language: php
cache:
  bundler: true
  apt: true
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"
    - "$HOME/.npm"
php:
  - 5.6
  - 7.0
  - 7.1
  
matrix:
  fast_finish: true
  allow_failures:
    - php: 5.6
    - php: 7.0

mysql:
  database: drupal
  username: root
  encoding: utf8

before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer --version

install:
  # Add Composer's local bin directory to the PATH so that we will be running
  # our installed versions of Drush, PHPCS, Behat, PhantomJS, etc.
  - export PATH="$HOME/.composer/vendor/bin:$TRAVIS_BUILD_DIR/bin:$PATH"

  # MySQL Options
  - mysql -e 'SET GLOBAL wait_timeout = 5400;'
  - mysql -e "SHOW VARIABLES LIKE 'wait_timeout'"

  # PHP conf tweaks.
  - echo 'max_execution_time = 120' >> drupal.php.ini;
  - echo 'sendmail_path = /bin/true' >> drupal.php.ini;
  - phpenv config-add drupal.php.ini
  - phpenv rehash

  # Install drush.
  - composer require drush/drush:^9.0

  # Build the Lightning code base.
  - composer install

  # Install Lightning.
  - cd docroot
  - drush --verbose site-install lightning --yes --account-pass=admin --db-url=mysql://root:@localhost/drupal
  
  # Set proper config directory settings.php
  - chmod 777 sites/default/settings.php
  - echo '$config_directories["sync"] = "../config/sync";' >> sites/default/settings.php;
  - chmod 644 sites/default/settings.php
  
  # Import config for our install.
  - drush cset system.site uuid 33168afd-6fef-4cad-8a71-1d93a63835ca --yes
  - drush --verbose config-import active --yes

before_script:
  - drush runserver --default-server=builtin 8080 &>/dev/null &
  - phantomjs --webdriver=4444 > /dev/null &
  - sleep 5
  - cd ..

script:
  - composer validate composer.json --no-check-all --ansi --no-interaction
  - bin/phpcs --standard=Drupal docroot/modules/custom

after_failure:
  - cd docroot
  - drush watchdog:show --count=100 --severity=Error --extended

