<div class="banner" style="background-image: url({{ content.field_vih_image[0]['#markup'] }})">

    <div class="banner__inner">
        <div class="container">

            <!-- Begin - heading -->
            <div class="banner__heading">
                <h1 class="banner__heading__title">{{ content.field_vih_image['#items'].alt }}</h1>
            </div>
            <!-- End - heading -->

            {# Begin - link #}
            {{ content.field_vih_link }}
            {# End - link #}

        </div>
    </div>
</div>
