// |--------------------------------------------------------------------------
// | 1 column action - centered
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--_-column-action-centered
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$xs-paragraph-action-heading-margin-bottom: 30px;
$sm-paragraph-action-heading-margin-bottom: 60px;
$md-paragraph-action-heading-margin-bottom: 100px;
$lg-paragraph-action-heading-margin-bottom: 100px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// 1 column action - centered
.paragraph--type--_-column-action-centered {
  text-align: center;

  .field--name-field-heading {
    text-align: left;
  }

  .field--name-field-description {

    + .field--name-field-link {
      margin-top: 50px;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $xs-paragraph-action-heading-margin-bottom;
    }
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $sm-paragraph-action-heading-margin-bottom;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $md-paragraph-action-heading-margin-bottom;
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $lg-paragraph-action-heading-margin-bottom;
    }
  }
}

// Print
@media print {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Touch
.touchevents {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// No touch
.no-touchevents {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// 1 column action - centered mixin
@mixin paragraph-type-mixin-column-action-centered() {}
