// |--------------------------------------------------------------------------
// | List of news teasers
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--list-of-news-teasers
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.field.field--name-field-paragraph-file.field--type-file{
  & .field__items{
    border: none;
    display: block;
    & a {
      font-size: 1.5em;
    }
    & .file.file--mime-application-pdf.file--application-pdf{
    background-color: white;
    color: #00a5e2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 5px;
    }
    & .field--item .paragraph-file-icon{
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: white;
      margin: 10px !important;
    }
  }
}

.paragraph.paragraph--type--file.paragraph--view-mode--default{
  & .field.field--name-field-heading.field--type-string{
      margin-top: 0px;
      margin-bottom: 20px !important;
    }
}

.layout__news{
   .angled-background-color.paragraph.paragraph--type--file{
     .angled-background-inner:before{
      border: none;
      position: absolute;
      z-index: -1 !important;
      top: 0;
      min-height: 100%;
      height: unset !important;

    }
  }
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Print
@media print {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// Touch
.touchevents {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// No touch
.no-touchevents {

  // List of news teasers
  .paragraph--type--list-of-news-teasers {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// List of news teasers mixin
@mixin paragraph-type-mixin-column-action-centered() {}
