{%
set classes = [
'sectioned',
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<section{{ attributes.addClass(classes) }}>
    <div class="sectioned--skewed-angle-top">
        <div class="sectioned--skewed-angle-bottom">

            {% if background_image %}
                <div class="angled-background-image-wrapper">
                    <div class="cover-overlay"></div>
                    <div class="angled-background-image-element" style="background-image: url({{ background_image }})"></div>
                </div>
            {% endif %}

            <div class="sectioned__inner">
                <div class="container">
                    {{ content }}
                </div>
            </div>

        </div>
    </div>
</section>
