// |--------------------------------------------------------------------------
// | User profile
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .path-user
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin path-user-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.path-user {

  .region-content {

    .field {
      margin-bottom: $grid-gutter-width;
    }

    .field--label {
      font-weight: $font-weight-bold;
      text-transform: uppercase;

      color: $headings-color;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
