// |--------------------------------------------------------------------------
// | Background color
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .angled-background
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Background color
.angled-background {}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Image
.angled-background-image {

  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }
}

// White
.angled-background-color-white {

  h1, h2, h3, h4, h5, h6, p {
    color: $text-color;
  }
}

// Gray
.angled-background-color-gray {

  h1, h2, h3, h4, h5, h6, p {
    color: $text-color;
  }
}

// Primary
.angled-background-color-primary {

  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }
}

// Secondary
.angled-background-color-secondary {

  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Background color
  .angled-background {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Background color
  .angled-background {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Background color
  .angled-background {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Background color
  .angled-background {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Background color
  .angled-background {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Background color
  .angled-background {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Background color
  .angled-background {}
}

// Print
@media print {

  // Background color
  .angled-background {}
}

// Touch
.touchevents {

  // Background color
  .angled-background {}
}

// No touch
.no-touchevents {

  // Background color
  .angled-background {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Background color mixin
@mixin paragraph-mixin-background-color() {}
