// |--------------------------------------------------------------------------
// | Background color
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph-background-color
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Background color
.paragraph-background-image {
  position: relative;
  z-index: 1;
  background-color: transparent !important;
  padding-top: $paragraph-inner-sizing-top;
  padding-bottom: $paragraph-inner-sizing-bottom;

  .paragraph-background-image-container {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -$paragraph-inner-sizing-top;
    margin-bottom: -$paragraph-inner-sizing-bottom;
    min-height: 100%;
    content: '';
    z-index: -2;
    transform-origin: center center;
    @include skew(0, 5deg);
    transform-origin: center center;

    .paragraph-background-image-element {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      z-index: -1;
    }
  }

  .paragraph-inner {

    h1, h2, h3, h4, h5, h6, p {
      color: #fff;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Background color
  .paragraph-background-color {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Background color
  .paragraph-background-color {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Background color
  .paragraph-background-color {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Background color
  .paragraph-background-color {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Background color
  .paragraph-background-color {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Background color
  .paragraph-background-color {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Background color
  .paragraph-background-color {}
}

// Print
@media print {

  // Background color
  .paragraph-background-color {}
}

// Touch
.touchevents {

  // Background color
  .paragraph-background-color {}
}

// No touch
.no-touchevents {

  // Background color
  .paragraph-background-color {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Background color mixin
@mixin paragraph-mixin-background-color() {}
