// |--------------------------------------------------------------------------
// | Heading
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field--name-field-heading
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Heading
.field--name-field-heading {
  @extend h2;
  text-transform: uppercase;
  font-weight: bold;
     font-family: 'Open Sans', sans-serif;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Heading
  .field--name-field-heading {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Heading
  .field--name-field-heading {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Heading
  .field--name-field-heading {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Heading
  .field--name-field-heading {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Heading
  .field--name-field-heading {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Heading
  .field--name-field-heading {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Heading
  .field--name-field-heading {}
}

// Print
@media print {

  // Heading
  .field--name-field-heading {}
}

// Touch
.touchevents {

  // Heading
  .field--name-field-heading {}
}

// No touch
.no-touchevents {

  // Heading
  .field--name-field-heading {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Heading mixin
@mixin field--name-mixin-field-heading() {}
