// |--------------------------------------------------------------------------
// | Highlighted
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field--name-field-highlighted
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Highlighted
.field--name-field-highlighted {
  @extend h5;
  text-transform: uppercase;
  font-weight: $headings-font-weight-bold;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Background image
.angled-background-image {

  // Highlighted
  .field--name-field-highlighted {
    color: #fff;
  }
}

// White
.angled-background-color-white {

  // Highlighted
  .field--name-field-highlighted {
    color: $brand-secondary;
  }
}

// Gray
.angled-background-color-gray {

  // Highlighted
  .field--name-field-highlighted {
    color: $brand-secondary;
  }
}

// Primary
.angled-background-color-primary {

  // Highlighted
  .field--name-field-highlighted {
    color: $brand-secondary;
  }
}

// Secondary
.angled-background-color-secondary {

  // Highlighted
  .field--name-field-highlighted {
    color: $text-color;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Highlighted
  .field--name-field-highlighted {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Highlighted
  .field--name-field-highlighted {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Highlighted
  .field--name-field-highlighted {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Highlighted
  .field--name-field-highlighted {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Highlighted
  .field--name-field-highlighted {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Highlighted
  .field--name-field-highlighted {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Highlighted
  .field--name-field-highlighted {}
}

// Print
@media print {

  // Highlighted
  .field--name-field-highlighted {}
}

// Touch
.touchevents {

  // Highlighted
  .field--name-field-highlighted {}
}

// No touch
.no-touchevents {

  // Highlighted
  .field--name-field-highlighted {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Highlighted mixin
@mixin field--name-mixin-field-highlighted() {}
