// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .article.teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
article.teaser .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;

  .teaser-image {
    width: 100%;
    img {
      width: 100%;
    }
    position: relative;

    .overlay-text {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
    }
    .svg-container-polygon {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      overflow: hidden;
      .svg-content-polygon {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        polygon {
          opacity: 0.75;
          &.color-red {
            fill: $vih-red;
          }
          &.color-blue {
            fill: $vih-blue;
          }
          &.color-cyan {
            fill: $vih-cyan;
          }
          &.color-purple {
            fill: $vih-purple;
          }
          &.color-yellow {
            fill: $vih-yellow;
          }
          &.color-green {
            fill: $vih-green;
          }
        }
      }
    }
  }

  .teaser-text {
    padding: 10px;
    .field--name-body {
      padding: 0;
      margin: 0 !important;
      font-size: 0.85em;
      p {
        color: #888;
        font-weight: normal !important;
        font-size: inherit;
        text-transform: none;
      }
    }
  }

  .teaser-button {
    padding: 10px;
    .btn {
      text-transform: uppercase;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

}

// Mobile - only
@include media-breakpoint-only(xs) {

}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Teaser
  article.teaser .content {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    .field--name-body {
      margin: 0;
      p {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }

    .teaser-image {
      margin-right: 40px;
      min-width: 300px;
      width: 300px;
      img {
        //min-width: 300px;
        //width: inherit;
      }

    }

    .teaser-text {
      padding: 0;
      marging-right: 40px;
    }

    .teaser-button {
      padding: 0 20px 0 0;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
}

// Desktop - only
@include media-breakpoint-only(md) {
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser mixin
@mixin node-mixin-teaser() {}
