// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-teaser-news
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.node-teaser-news {

    
        &,
    
    h4 {
        
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        color: #000;
        margin-bottom: 20px;
    }
    
    
    &, 
    
    .card-published-at {
        
        font-size: 0.9em;
        color: $brand-attention;
    }
  .field--name-body {

    &,
    p {
      color: #928f8f;
        font-size: 0.90em;
        line-height: 20px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
    }
  }
}



// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Teaser
  .node-teaser-news {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Teaser
  .node-teaser-news {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Teaser
  .node-teaser-news {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Teaser
  .node-teaser-news {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Teaser
  .node-teaser-news {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Teaser
  .node-teaser-news {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Teaser
  .node-teaser-news {}
}

// Print
@media print {

  // Teaser
  .node-teaser-news {}
}

// Touch
.touchevents {

  // Teaser
  .node-teaser-news {}
}

// No touch
.no-touchevents {

  // Teaser
  .node-teaser-news {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser mixin
@mixin node-mixin-teaser() {}
