$img-path: "../images";
$font-path: "../fonts";

$paragraph-inner-sizing: 80px;
$paragraph-inner-sizing-top: 30px;
$paragraph-inner-sizing-bottom: 110px;

$brand-red: #ff005f;
$brand-cyan: deepskyblue;
$brand-yellow: #d3c000;

$fa-var-angle-down: '';
$fa-var-angle-right: '';
