<div class="boxy boxy--course-periods course-periods-accordion">
  <div class="boxy__body">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Linjefag spørgsmal</h4>
        </div>
      </div>
      <div class="entity-list-advanced__body">
        <h5 class="heading-h5">
          {{ form['#title'] }}
        </h5>
        {{ form }}
      </div>
    </div>
  </div>
</div>
