<section class="sectioned sectioned--content">
  <div class="sectioned__inner">
    <div class="container">
      <div class="sectioned__heading">
        <h2 class="sectioned__heading__title">{{ title }}</h2>
      </div>
      <div class="sectioned__subheading">
        {{ message }}
      </div>

      {{ backlink }}
    </div>
  </div>
</section>
