<div class="partial partial--form">
  <div class="partial__heading">
    <h3 class="partial__heading__title heading-h4">
      <span class="icon icon-account-circle"></span>
      {{ form['#title'] }}
    </h3>
  </div>
  <div class="partial__body">
    <div class="row">
      {{ form }}
    </div>
  </div>
</div>
