{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="partial partial--ordered-course-slot">
        <div class="partial__body">
            {{ content.field_vih_ocs_title }}
            {{ content.field_vih_ocs_class }}
        </div>
    </div>
</div>
