$boxy-spacing-left-right: $grid-gutter-width;

// Heading
$boxy-heading-spacing-top-bottom: 5px;
$boxy-heading-border: 0;
$boxy-heading-background-color: transparent;

$boxy-heading-title-color: $headings-color;

// Body
$boxy-body-spacing-top-bottom: 20px;
$boxy-body-border: 1px solid $border-color;
$boxy-body-background-color: $body-bg;

// Footer
$boxy-footer-spacing-top-bottom: 10px;
$boxy-footer-border: 0;
$boxy-footer-background-color: transparent;
