// Letter spacing
$headings-letter-spacing: 1px;

// Font weight
$headings-font-weight-light: 400;
$headings-font-weight: 700;
$headings-font-weight-bold: 700;

$font-weight-light: 300;
$font-weight: 400;
$font-weight-bold: 700;

// Spacing
$paragraphs-bottom-spacing: ($line-height-computed / 2);
