@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?tn9pyh');
  src:  url('#{$icomoon-font-path}/icomoon.eot?tn9pyh#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?tn9pyh') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?tn9pyh') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?tn9pyh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-youtube {
  &:before {
    content: unicode($icon-youtube); 
  }
}
.icon-vimeo {
  &:before {
    content: unicode($icon-vimeo); 
  }
}
.icon-bookmark-o {
  &:before {
    content: unicode($icon-bookmark-o); 
  }
}
.icon-twitter {
  &:before {
    content: unicode($icon-twitter); 
  }
}
.icon-facebook {
  &:before {
    content: unicode($icon-facebook); 
  }
}
.icon-angle-left {
  &:before {
    content: unicode($icon-angle-left); 
  }
}
.icon-angle-right {
  &:before {
    content: unicode($icon-angle-right); 
  }
}
.icon-angle-up {
  &:before {
    content: unicode($icon-angle-up); 
  }
}
.icon-angle-down {
  &:before {
    content: unicode($icon-angle-down); 
  }
}
.icon-instagram {
  &:before {
    content: unicode($icon-instagram); 
  }
}
.icon-time {
  &:before {
    content: unicode($icon-time); 
  }
}
.icon-account-circle {
  &:before {
    content: unicode($icon-account-circle); 
  }
}
.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right); 
  }
}
.icon-phone {
  &:before {
    content: unicode($icon-phone); 
  }
}
.icon-home {
  &:before {
    content: unicode($icon-home); 
  }
}
.icon-info-circle {
  &:before {
    content: unicode($icon-info-circle); 
  }
}
.icon-mail {
  &:before {
    content: unicode($icon-mail); 
  }
}
.icon-portrait {
  &:before {
    content: unicode($icon-portrait); 
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search); 
  }
}
.icon-google-plus {
  &:before {
    content: unicode($icon-google-plus); 
  }
}
.icon-linkedin {
  &:before {
    content: unicode($icon-linkedin); 
  }
}
.icon-pinterest {
  &:before {
    content: unicode($icon-pinterest); 
  }
}

