@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?bkgt5i');
  src:  url('#{$icomoon-font-path}/icomoon.eot?bkgt5i#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?bkgt5i') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?bkgt5i') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?bkgt5i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark-o {
  &:before {
    content: $icon-bookmark-o;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-account-circle {
  &:before {
    content: $icon-account-circle;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-portrait {
  &:before {
    content: $icon-portrait;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}

