//  -----------------------------------
//  Frontpage news view | START
//  This CSS is used for the frontpage
//  news.
//  -----------------------------------

.view-news .view-content .views-row{
  background: #EDEEEE;
  padding:20px;
  min-height: 230px;
}

.fpnews-title{
  font-size:$font-size-base;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.fpnews-content p {
  font-size: 0.85em!important;
}

.fpnews-title a{
  color:#000;
  font-size: $font-size-small;
  font-weight: bold;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
}

.view-news .view-content .views-row .views-field-body p{
  font-size: 13px;
  color: #928f8f;
  font-size: 0.90em;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.view-news .view-content .views-row .field-content{
  margin-top:10px;
  margin-bottom:10px;
}

.fpnews-date {
  font-size: $font-size-small;
  color: #ff6400;
  font-weight: bold;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
}

.view-news .view-header h2 a{
  font-size:$font-size-h2;
  text-transform: uppercase;
  font-weight: bold;
  color:#000;
}

.view-nyheder-full-page .view-content .views-row {
  background: #EDEEEE;
  border: 30px solid #fff;
  padding: 20px;
  min-height: 230px;
}