@mixin angled_background($pseudo, $angle: 5deg) {
  // Possible values for $pseudo are: before, after
  @if $pseudo == 'before' or $pseudo == 'after' {
    position: relative;
    z-index: 1;

    $selector: '&:#{$pseudo}';

    #{$selector} {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      background-color: inherit;
      content: '';
      height: 50%;
      z-index: -1;
      @include backface-visibility(hidden);
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;
        @include skew(0, $angle);
        transform-origin: right top;
      }
    }

    @if $pseudo == 'after' {

      #{$selector} {
        top: 100%;
        @include skew(0, $angle);
        transform-origin: bottom right;
        height: 130px;
        z-index: 150;
          outline: 1px solid transparent;
      }
    }
  }
}
