@mixin angled_background($pseudo, $angle: 5deg) {
  // Possible values for $pseudo are: before, after
  @if $pseudo == 'before' or $pseudo == 'after' {
    position: relative;
    z-index: 1;

    $selector: '&:#{$pseudo}';

    #{$selector} {
      background-color: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      @include backface-visibility(hidden);
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;
        @include skew(0, $angle);
        transform-origin: right top;
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;
        @include skew(0, ($angle * -1));
        transform-origin: 100%;
      }
    }
  }
}
