<section
    class="sectioned sectioned--content" {{ content_attributes.addClass('content') }}>
  <div class="sectioned__inner">
    <div class="container-fluid">
      {% include "region.html.twig" %}
    </div>
  </div>
</section>
