// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$banner-angle-background-color: $body-bg;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Banner mixin
@mixin banner-mixin-angle($height, $background-color: $banner-angle-background-color) {
  @include angled-edge('inside bottom', 'upper right', $background-color, $height);

  .banner__body {
    padding-bottom: ( 1px * $height );
  }
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.banner {
  overflow: hidden;

  background-color: #fff;

  @include banner-mixin-angle($xs-sectioned-skewed-angle-height);

  img {
    min-height: $xs-banner-height;
    min-width: 100%;
  }
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

.banner--small {

  img {
    min-height: $xs-banner-small-height;
  }

  .banner__inner {
    height: $xs-banner-small-height;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .banner__logo {
    display: block;
  }
  .banner__logo__image {
    display: block;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .banner {
    @include banner-mixin-angle($sm-sectioned-skewed-angle-height);

    img {
      min-height: $sm-banner-height;
    }
  }

  .banner__inner {
    height: $sm-banner-height;
  }

  .banner--small {

    img {
      min-height: $sm-banner-small-height;
    }

    .banner__inner {
      height: $sm-banner-small-height;
    }
  }

  .banner__logo {
    width: 250px;
  }
  .banner__logo__image {
    right: 25px;
    bottom: 8%;

    width: 140px;
    height: 140px;
  }

  .banner__heading__title {
    font-size: $sm-banner-title-font-size;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .banner {
    @include banner-mixin-angle($md-sectioned-skewed-angle-height);

    img {
      min-height: $md-banner-height;
    }
  }

  .banner__inner {
    height: $md-banner-height;
  }

  .banner--small {

    img {
      min-height: $md-banner-small-height;
    }

    .banner__inner {
      height: $md-banner-small-height;
    }
  }

  .banner__logo {
    width: 300px;
  }
  .banner__logo__image {
    width: 160px;
    height: 160px;

    right: 35px;
  }

  .banner__heading__title {
    font-size: $md-banner-title-font-size;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .banner {
    @include banner-mixin-angle($lg-sectioned-skewed-angle-height);

    img {
      min-height: $lg-banner-height;
    }
  }

  .banner__inner {
    height: $lg-banner-height;
  }

  .banner--small {

    img {
      min-height: $lg-banner-small-height;
    }

    .banner__inner {
      height: $lg-banner-small-height;
    }
  }

  .banner__logo {
    width: 500px;
  }
  .banner__logo__image {
    width: 250px;
    height: 250px;

    right: 50px;
  }

  .banner__heading__title {
    font-size: $lg-banner-title-font-size;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
