// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$banner-angle-background-color: $body-bg;

// Responsive
$xs-banner-height: 400px;
$sm-banner-height: 500px;
$md-banner-height: 650px;
$lg-banner-height: 900px;

$xs-banner-small-height: 300px;
$sm-banner-small-height: 450px;
$md-banner-small-height: 550px;
$lg-banner-small-height: 600px;

$xs-banner-title-font-size: 30px;
$sm-banner-title-font-size: 34px;
$md-banner-title-font-size: 40px;
$lg-banner-title-font-size: 46px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin banner-mixin-angle($height, $background-color: $body-bg) {
  @include angled-edge('inside bottom', 'upper right', $background-color, $height);

  .banner__inner {
    padding-bottom: ( 1px * $height );
  }
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.banner {
  @include banner-mixin-angle($xs-sectioned-skewed-angle-height);

  position: relative;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  // Actions
  .field--name-field-vih-link {
    margin-top: 50px;

    text-align: center;

    a {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}
.banner__inner {
  display: flex;

  justify-content: center;
  align-items: center;

  padding-top: 0;

  min-height: $xs-banner-height;
}

// Heading
.banner__heading {
  text-align: center;
}
.banner__heading__title {
  @extend h1;
  font-size: $xs-banner-title-font-size;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);

  color: #fff;
}

// Logo
.banner__logo {
  display: none;
  position: absolute;

  z-index: 0;

  top: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;

  polygon {
    fill: rgba($brand-primary, .85);
  }
}
.banner__logo__image {
  position: absolute;

  right: 50px;
  bottom: 8%;

  background: url('../images/banner-logo.png') center center no-repeat;
  background-size: 100%;
}

.region-banner {

  .form-group:last-child {
    margin-bottom: 0; // Overriding a way to global override
  }

  .owl-controls {
    position: absolute;

    z-index: 1000;

    left: 0;
    right: 0;

    bottom: $xs-sectioned-skewed-angle-height * 1px;

    .owl-page {

      span {
        background: #fff;
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.banner--small {

  .banner__inner {
    min-height: $xs-banner-small-height;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .banner__logo {
    display: block;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .banner {
    @include banner-mixin-angle($sm-sectioned-skewed-angle-height);
  }
  .banner__inner {
    min-height: $sm-banner-height;
  }

  .banner--small {

    .banner__inner {
      min-height: $sm-banner-small-height;
    }
  }

  .banner__heading__title {
    font-size: $sm-banner-title-font-size;
  }

  .banner__logo {
    width: 250px;
  }
  .banner__logo__image {
    right: 25px;
    bottom: 8%;

    width: 140px;
    height: 140px;
  }

  .region-banner {

    .owl-controls {
      bottom: $sm-sectioned-skewed-angle-height * 1px;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .banner {
    @include banner-mixin-angle($md-sectioned-skewed-angle-height);
  }
  .banner__inner {
    min-height: $md-banner-height;
  }

  .banner--small {

    .banner__inner {
      min-height: $md-banner-small-height;
    }
  }

  .banner__heading__title {
    font-size: $md-banner-title-font-size;
  }

  .banner__logo {
    width: 300px;
  }
  .banner__logo__image {
    width: 160px;
    height: 160px;

    right: 35px;
  }

  .region-banner {

    .owl-controls {
      bottom: $md-sectioned-skewed-angle-height * 1px;
    }
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .banner {
    @include banner-mixin-angle($lg-sectioned-skewed-angle-height);
  }
  .banner__inner {
    min-height: $lg-banner-height;
  }

  .banner--small {

    .banner__inner {
      min-height: $lg-banner-small-height;
    }
  }

  .banner__heading__title {
    font-size: $lg-banner-title-font-size;
  }

  .banner__logo {
    width: 500px;
  }
  .banner__logo__image {
    width: 250px;
    height: 250px;

    right: 50px;
  }

  .region-banner {

    .owl-controls {
      bottom: $lg-sectioned-skewed-angle-height * 1px;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
