// |--------------------------------------------------------------------------
// | Button
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .btn
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$button-icon-wrapper-width: 45px;
$button-arrow-width: 26px;

// Responsive
$button-sm-icon-wrapper-width: 30px;
$button-sm-arrow-width: 14px;

// Variants
$button-primary-icon-background: $brand-cyan;
$button-secondary-icon-background: darken($btn-secondary-bg, 14%);
$button-info-icon-background: $brand-cyan;
$button-success-icon-background: lighten($btn-success-bg, 14%);
$button-danger-icon-background: lighten($btn-danger-bg, 14%);

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Button
.btn {
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &.btn-primary,
  &.btn-secondary,
  &.btn-info,
  &.btn-success,
  &.btn-danger {
    position: relative;

    overflow: hidden;
    border: 0;

    padding-left: floor(($button-icon-wrapper-width + $button-arrow-width + $padding-base-horizontal));

    .icon {
      display: none;
    }

    &:before {
      @extend .icon;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      width: $button-icon-wrapper-width;

      content: $icon-arrow-right;

      color: #fff;

      font-size: 30px;
    }

    &.btn-xs,
    &.btn-sm {
      padding-left: floor(($button-sm-icon-wrapper-width + $button-sm-arrow-width + $padding-small-horizontal));

      &:before {
        width: $button-sm-icon-wrapper-width;

        font-size: 22px;
      }

      &:after {
        left: $button-sm-icon-wrapper-width;

        margin-top: floor( ( 0 - $button-sm-arrow-width ) );
        border-width: $button-sm-arrow-width;
      }
    }

    &.btn-lg {

      &:before {
        font-size: 30px;
      }
    }

    // The arrow
    &:after {
      position: absolute;

      top: 50%;
      left: $button-icon-wrapper-width;

      z-index: 1;

      content: "";

      margin-top: floor( ( 0 - $button-arrow-width ) );

      height: 0;
      width: 0;
      pointer-events: none;

      border-style: solid;
      border-color: rgba(136, 183, 213, 0);
      border-width: $button-arrow-width;
    }
  }
}

.btn-radio-select {

  .form-item {
    display: none;
  }

  &:after {

    html[lang="da"] & {
      content: "Vælg";
    }
  }

  &.active {

    &, &:hover, &:focus {
      color: $btn-primary-color;
      background-color: $btn-primary-bg;
      border-color: $btn-primary-border;
    }

    &:after {

      html[lang="da"] & {
        content: "Valgt";
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.btn {

  // Primary
  &.btn-primary {

    &:before {
      color: $btn-primary-color;
      background-color: $button-primary-icon-background;
    }

    &:after {
      border-left-color: $button-primary-icon-background;
    }
  }

  // Secondary
  &.btn-secondary {

    &:before {
      color: $btn-secondary-color;
      background-color: $button-secondary-icon-background;
    }

    &:after {
      border-left-color: $button-secondary-icon-background;
    }
  }

  // Info
  &.btn-info {

    &:before {
      color: $btn-info-color;
      background-color: $button-info-icon-background;
    }

    &:after {
      border-left-color: $button-info-icon-background;
    }
  }

  // Success
  &.btn-success {

    &:before {
      color: $btn-success-color;
      background-color: $button-success-icon-background;
    }

    &:after {
      border-left-color: $button-success-icon-background;
    }
  }

  // Danger
  &.btn-danger {

    &:before {
      color: $btn-danger-color;
      background-color: $button-danger-icon-background;
    }

    &:after {
      border-left-color: $button-danger-icon-background;
    }
  }
}

.text-right {

  .form-actions .btn {
    margin-right: 0;
    margin-left: 10px;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Button mixin
@mixin btn-mixin() { }
