// |--------------------------------------------------------------------------
// | Modal
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .modal
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$modal-header-angle-height: 70; // Unit less
$modal-margin: 70px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin modal-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// This is not a proper way - but because of the way we
// structure our page layout, we have to do it this way.
.modal-backdrop {
  display: none;
}

.modal {
  background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);

  .modal-content {
    overflow-x: auto;
    max-height: none !important;
  }
  span.ajax-throbber{
    display: none;
  }
}

.modal-header {
  @include angled-edge('inside bottom', 'upper right', $modal-content-bg, $modal-header-angle-height);

  display: flex;

  align-items: center;
  justify-content: center;

  padding-bottom: (1px * $modal-header-angle-height);

  margin-bottom: 50px;

  min-height: 400px;

  border: 0;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .close {
    position: absolute;

    float: none;

    top: 15px;
    right: 15px;

    height: 40px;
    width: 40px;

    color: $headings-color;

    background-color: #fff;

    border-radius: 100%;

    opacity: 1;
  }

  .modal-close--this-modal-only {
    z-index: $zindex-modal
  }

  &.modal-header--no-image {
    margin-bottom: 0;

    min-height: auto;
  }
}

.modal-title {
  margin: 0;
  padding: 0;

  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.modal-body {

  h2 {
    margin-top: 0;
  }
}

// Admin fix
.toolbar-horizontal.toolbar-fixed {

  .modal-dialog {
    margin-top: (39px + $grid-gutter-width); // 39px is the height of the toolbar without the tray open
  }

  &.toolbar-tray-open {

    .modal-dialog {
      margin-top: (79px + $grid-gutter-width); // 39px is the height of the toolbar with the tray open
    }
  }
}

.modal.terms-and-conditions{
  & .field.field--name-field-vih-paragraphs{
    margin-left: -$modal-margin;
    margin-right: -$modal-margin;
  }
  & .modal-header{
    min-height: unset;
    padding-bottom: unset;
    content: '';
    &::after{
      display: none;
      content: '';
    }
    & .modal-title{
      display: none;
    }
  }
  & .modal-body{
    padding-top: 0;
    margin-top: $modal-margin;
  }
}

.modal#all-courses{
  & .modal-header{
    min-height: unset;
    padding-bottom: unset;
    content: '';
    &::after{
      display: none;
      content: '';
    }
    & .modal-title{
      display: none;
    }
  }
  & .modal-body{
    padding-top: 0;
    margin-top: $modal-margin;
  }
}

#drupal-modal{
  & .modal-header{
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    content: '';
    &::after{
      display: none;
      content: '';
    }
    & .modal-title{
      display: none;
    }
    & .close{
      z-index: 1;

    }
  }
  & .sectioned--content{
    &:after{
      display: none;
    }
    margin-bottom: 0px;
  }
}
// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {
  #drupal-modal{
    & .modal-dialog{
      width: auto;
      & .modal-body{
        & .banner{
          margin-top: -20px;
          margin-right: -15px;
          margin-left: -15px;
        }
      }
    }
  }
}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {
  #drupal-modal{
    & .modal-dialog{
      width: 600px;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .modal-body {
    padding: 20px 70px 70px 70px;
  }

  #drupal-modal{
    & .modal-dialog{
      width: 1050px;
      & .modal-body{
        & .banner{
          margin-top: -20px;
          margin-right: -70px;
          margin-left: -70px;
        }
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
