// |--------------------------------------------------------------------------
// | Page elements
// |--------------------------------------------------------------------------
// |
// | This file is created by Simon Tofteby
// | 
// |

// Eliminate bad font-size behavour

//.field--name-field-heading h3 {
//  margin-bottom: 40px;
//}
#accordians {
  width: 100%;
}
#tabs {
  width: 100%;
}
// Font colors

.search-button {

  .icon {
    font-size: 24px;
  }
}

$font-light: #aaa;
$font-pale: #fff;
$font-dark: #000;

// White color font
.f-pale { color: $font-pale !important; }
// Light color font
.f-light { color: $font-light !important; }
// Dark color font
.f-dark { color: $font-dark !important; }

// Font sizes

//p {
//  font-weight: 400;
//  color: #888;
//}
//footer p {
//  color: $font-pale !important;
//}
//h1, h2, h3, h4 {
//    font-weight: inherit;
//    font-family: 'Lato', sans-serif;
//}
//
//h1 {
//  font-size: 3.157em;
//}
//
//h2 {font-size: 2.369em;}
//
//h3 {font-size: 1.777em!important;}
//
//h4 {font-size: 1.333em!important;}

//small, .font_small { font-size: 0.75em; }
// Font-family
$font-family-primary: 'Lato', sans-serif;

// Styleguide Banner
.breaker {
  width: 100%;
  height: 150px;
}
// Buttons
.btn-simple {
  width: auto;
  max-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background: #00bcff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-family-primary;
}
.btn-simple:hover {
  color: #fff;
}
.webform-button--submit {
  margin-top: 15px;
}
// Codebox
.codebox {
  /* Below are styles for the codebox (not the code itself) */
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color: #f8f8f8;
  width: 100%;
  padding: 40px;
  height: 300px;
  overflow-y: scroll;
  code {
    /* Styles in here affect the text of the codebox */
    font-size: 0.9em;
    color: #000;
    text-decoration: none;
    text-emphasis-color: none;
    text-decoration: none;
    text-emphasis-style: none;
    font-size: 18px;
    background: none;
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
  }
}
.white-border-top {
  border-top: 1px solid #fff !important;
}
.white-border-bottom {
  border-bottom: 1px solid #fff !important;
}
.white-border {
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}
.blue {
  background: #00bcff;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-radius: 0 !important;
  color: #fff !important;
  a {
    color: #fff !important;
  }
}
.tabs-toggle {
  background: none !important;
}
.tabs {
  margin-bottom: $grid-gutter-width;
}
.btn-group,
.btn-group-vertical {
  display: flex !important;
}
//input[type="radio"]:checked {
//    display: none !important;
//}

.tab-heading {
  background: #fff !important;
}
.panel-group {
  border-bottom: 1px solid #ddd;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
  .panel-body__zero-padding {
    margin: -15px;
  }
}
// Colors
.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 40px;
}
.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
  font-weight: 600;
  p {
    margin-top: 10px;
    font-family: $font-family-primary;
    font-weight: 600;
  }
}
.color-preview {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  font-family: $font-family-primary;
  font-weight: 600;
}
// Alerts
.alert {
  border-radius: 0 !important;
  font-family: $font-family-primary;
  font-weight: 600;
}
.panel-banner {
  background-position: center;
}
#diagonal {
  position: absolute;
  width: 105%;
  height: auto;
  margin-left: -10px;
  margin-top: 60px;
}
.vih_class .col-xs-4 {
  overflow: hidden;
  padding-right: 25px;
}
.btn-more {
  background: none !important;
  width: 40px;
  height: 40px;
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-more i {
  color: #bbb;
  font-size: 16px;
}
.btn-more .fa {
  font-size: 18px !important;
  margin-top: 5px;
}

.diagonal-end {
  width: 100%;
  height: 150px;
  background-image: url('http://svgshare.com/i/1Kc.svg');
  background-size: 200%;
  background-position: -20px;
}
.panel-banner {
  height: 210px;
  border: none !important;
  background: #00bcff;
  overflow: hidden;
  padding-bottom: 0;
  background-size: cover;
  .diagonal-end {
    height: 52px;
  }
}

label.control-label {
  text-transform: uppercase;
}
.path-langeophold input {
  text-transform: uppercase !important;
}
.banner-spacer {
  height: 158px;
}
.align-r {
  text-align: right;
}
.align-c {
  display: flex;
  align-items: center;
  min-height: 10vh;
}
.color-gray {
  color: #777;
}