// |--------------------------------------------------------------------------
// | Page layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__content-inner
// |
@import '_page-elements.scss';

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-page-layout-content-inner-padding-top: 20px;
$sm-page-layout-content-inner-padding-top: 30px;
$md-page-layout-content-inner-padding-top: 40px;
$xs-page-layout-content-inner-padding-bottom: 25px;
$sm-page-layout-content-inner-padding-bottom: 40px;
$md-page-layout-content-inner-padding-bottom: 60px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

html {
  min-height: 100vh;
  height: inherit;
}

// Page layout
.layout__content {
  padding-top: 0;
  padding-bottom: 0;
}
.layout__wrapper {
  overflow-y: visible;
  overflow-x: visible;
}
.layout-navigation .logo {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.layout-navigation__link a:hover {
  color: #fff !important;
}
.layout-navigation__link .form-control {
  height: 100%;
}
.layout-navigation__link .form-group {
  height: 100%;
}
.layout-navigation__link form {
  height: 100%;
}
.layout-navigation__link .glyphicon {
  top: 7px;
}
.layout-navigation__link__phone a {
  font-size: 18px;
  letter-spacing: 0.030em;
}
.layout-navigation__link__phone .icon {
  font-size: 25px;
  margin-right: 10px;
}
.layout-navigation a {
  text-decoration: none;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.layout-navigation .logo span {
  color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-image: url('../images/vih_logo_white.svg');
  background-size: 200px;
  background-position: center;
}
.path-node .news-container {
  padding-bottom: 100px;
}
.path-node .teacher-c-desc {
  padding: 0 !important;
  margin-bottom: 220px;
}
// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {

  // Page layout
  .layout__content-inner {
    padding-top: $xs-page-layout-content-inner-padding-top;
    padding-bottom: $xs-page-layout-content-inner-padding-bottom;
  }
}
// Mobile - only
@media #{$breakpoint-mobile-only} {
  .views-field-field-vih-course-image .img-responsive {
    max-width: inherit !important;
    min-width: 100%;
  }
  .image-with-overlay {
    width: 100vw;
  }
}
// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  // Page layout
  .layout__content-inner {
    padding-top: $sm-page-layout-content-inner-padding-top;
    padding-bottom: $sm-page-layout-content-inner-padding-bottom;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  // Page layout
  .layout__content-inner {
    padding-top: $md-page-layout-content-inner-padding-top;
    padding-bottom: $md-page-layout-content-inner-padding-bottom;
  }

  .layout-navigation__link {
    height: 100%;
  }

  .layout-navigation__link a:hover {
    color: #000 !important;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .layout__header-row .layout-navigation__dropdown-menu {
    max-width: none;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .layout__header-row .layout-navigation__dropdown-menu {
    max-width: none;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Page layout mixin
@mixin content-mixin-inner() { }
