<div class="container">
  <br>
  <h3>
    {{ "Oh - an error occured!"|t }}
  </h3>
  <br>
  <div class="row">
      <div class="col-xs-12 tilmeldings-knap">
          <a href="{{ url('<front>') }}" class="btn-arrow">
              {{ "Go back"|t }}
          </a>
      </div>
  </div>
</div>