<br>
   <h1>
    {{ "Tak for din tilmelding!"|t }}
</h1>
<br>
<div class="row">
    <div class="col-xs-12 field--name-field-link">
        <a href="{{ url('<front>') }}" class="btn-arrow">
            {{ "Tilbage til forside"|t }}
        </a>
    </div>
</div>