<div class="container">
  <h3>
    {{ "Tak for din tilmelding!"|t }}
  </h3>
  <br>

  <div class="row">
    <div class="col-xs-12 tilmeldings-knap">
      <a href="{{ url('<front>') }}" class="btn btn-success">
        {{ "Tilbage til forside"|t }}
      </a>
    </div>
  </div>
</div>
