<section class="sectioned sectioned--content">
    <div class="sectioned__inner">
        <div class="container">
            <div class="sectioned__heading">
                <h2 class="sectioned__heading__title">{{ "Your order was cancelled!"|t }}</h2>
            </div>

            <a href="{{ url('<front>') }}" class="btn btn-primary">
                {{ "Go back to home"|t }}
            </a>
        </div>
    </div>
</section>
