// |--------------------------------------------------------------------------
// | Description
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field--name-field-vih-description
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph {

  .field--name-field-vih-description {

    &,
    h1, h2, h3, h4, h5, h6,
    p {
      @extend h1;

      margin: 0;

      font-weight: $headings-font-weight-bold;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.paragraph {

  // Background image
  &.sectioned--skewed--background-image {
    
    .field--name-field-vih-description {

      &,
      h1, h2, h3, h4, h5, h6,
      p {
        color: #fff;
      }
    }
  }

  // White
  &.sectioned--skewed--background-color-white {

    .field--name-field-vih-description {

      &,
      h1, h2, h3, h4, h5, h6,
      p {
        color: $text-color;
      }
    }
  }

  // Light gray
  &.sectioned--skewed--background-color-light-gray {

    .field--name-field-vih-description {

      &,
      h1, h2, h3, h4, h5, h6,
      p {
        color: $text-color;
      }
    }
  }

  // Gray
  &.sectioned--skewed--background-color-gray {

    .field--name-field-vih-description {

      &,
      h1, h2, h3, h4, h5, h6,
      p {
        color: $headings-color;
      }
    }
  }

  // Primary
  &.sectioned--skewed--background-color-primary {

    .field--name-field-vih-description {

      &,
      h1, h2, h3, h4, h5, h6,
      p {
        color: $btn-primary-color;
      }
    }
  }

  // Secondary
  &.sectioned--skewed--background-color-secondary {

    .field--name-field-vih-description {

      &,
      h1, h2, h3, h4, h5, h6,
      p {
        color: $btn-secondary-color;
      }
    }
  }

  // vih-teacher-class-description paragraph is always with white text background.
  &.sectioned--skewed--background-image.paragraph--type--vih-teacher-class-description {

    .field--name-field-vih-description {

      &,
      h1, h2, h3, h4, h5, h6,
      p {
        color: $text-color;
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Description mixin
@mixin field--name-mixin-field-vih-description() {}
