// |--------------------------------------------------------------------------
// | File
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field--name-file
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph {

  .field--name-field-vih-file {
    text-align: center;

    // Resets
    .file {
      display: inline-block;

      width: auto;

      font-size: inherit;
    }

    .file-link {
      @extend h4;
    }

    .file-icon {

      .icon {
        font-family: 'Glyphicons Halflings' !important; // Bit of a hack to ignore Icomoons settings
      }
    }

    .file-size {
      @extend h5;
    }

    // Stacked
    .field--item + .field--item {
      margin-top: floor( ( $grid-gutter-width / 2 ) );
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.paragraph {

  // Background image
  &.sectioned--skewed--background-image {

    .field--name-field-vih-file {

      .file {

        > span {
          border-top-color: rgba(255, 255, 255, .3);
          border-bottom-color: rgba(255, 255, 255, .3);

          background-color: rgba($body-bg, .4);

          &:first-child {
            border-left-color: rgba(255, 255, 255, .3);
          }

          &:last-child {
            border-right-color: rgba(255, 255, 255, .3);
          }
        }
      }

      .file-icon {

        .icon {
          color: #fff;
        }
      }

      .file-link {
        color: #fff;
      }

      .file-size {
        color: #fff;
      }
    }
  }

  // White
  &.sectioned--skewed--background-color-white {

    .field--name-field-vih-file {

      .file {

        > span {
          border-top-color: $border-color;
          border-bottom-color: $border-color;

          background-color: $body-bg;

          &:first-child {
            border-left-color: $border-color;
          }

          &:last-child {
            border-right-color: $border-color;
          }
        }
      }

      .file-link {
        color: $headings-color;
      }

      .file-size {
        color: $text-color-light;
      }
    }
  }

  // Light gray
  &.sectioned--skewed--background-color-light-gray {

    .field--name-field-vih-file {

      .file {

        > span {
          border-top-color: $border-color;
          border-bottom-color: $border-color;

          background-color: $body-bg;

          &:first-child {
            border-left-color: $border-color;
          }

          &:last-child {
            border-right-color: $border-color;
          }
        }
      }

      .file-link {
        color: $headings-color;
      }

      .file-size {
        color: $text-color-light;
      }
    }
  }

  // Gray
  &.sectioned--skewed--background-color-gray {

    .field--name-field-vih-file {

      .file {

        > span {
          border-top-color: $border-color;
          border-bottom-color: $border-color;

          background-color: $body-bg;

          &:first-child {
            border-left-color: $border-color;
          }

          &:last-child {
            border-right-color: $border-color;
          }
        }
      }

      .file-link {
        color: $headings-color;
      }

      .file-size {
        color: $text-color-light;
      }
    }
  }

  // Primary
  &.sectioned--skewed--background-color-primary {

    .field--name-field-vih-file {

      .file {

        > span {
          border-top-color: rgba(255, 255, 255, .3);
          border-bottom-color: rgba(255, 255, 255, .3);

          background-color: rgba($body-bg, .2);

          &:first-child {
            border-left-color: rgba(255, 255, 255, .3);
          }

          &:last-child {
            border-right-color: rgba(255, 255, 255, .3);
          }
        }
      }

      .file-icon {

        .icon {
          color: #fff;
        }
      }

      .file-link {
        color: #fff;
      }

      .file-size {
        color: #fff;
      }
    }
  }

  // Secondary
  &.sectioned--skewed--background-color-secondary {

    .field--name-field-vih-file {

      .file {

        > span {
          border-top-color: rgba(255, 255, 255, .2);
          border-bottom-color: rgba(255, 255, 255, .2);

          background-color: rgba($body-bg, .15);

          &:first-child {
            border-left-color: rgba(255, 255, 255, .2);
          }

          &:last-child {
            border-right-color: rgba(255, 255, 255, .2);
          }
        }
      }

      .file-icon {

        .icon {
          color: #fff;
        }
      }

      .file-link {
        color: #fff;
      }

      .file-size {
        color: #fff;
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// File mixin
@mixin field--name-mixin-field-file() {}
