// |--------------------------------------------------------------------------
// | Heading
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field--name-field-heading
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Heading
.field--name-field-heading {
  @extend h2;

  margin-top: 0;

  text-transform: uppercase;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Background image
.sectioned--skewed--background-image {

  .field--name-field-heading {
    color: #fff;
  }
}

// White
.sectioned--skewed--background-color-white {

  .field--name-field-heading {
    color: $headings-color;
  }
}

// Light gray
.sectioned--skewed--background-color-light-gray {

  .field--name-field-heading {
    color: $headings-color;
  }
}

// Gray
.sectioned--skewed--background-color-gray {

  .field--name-field-heading {
    color: $headings-color;
  }
}

// Primary
.sectioned--skewed--background-color-primary {

  .field--name-field-heading {
    color: $btn-primary-color;
  }
}

// Secondary
.sectioned--skewed--background-color-secondary {

  .field--name-field-heading {
    color: $btn-secondary-color;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {

  // Heading
  .field--name-field-heading {}
}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  // Heading
  .field--name-field-heading {}
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  // Heading
  .field--name-field-heading {}
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  // Heading
  .field--name-field-heading {}
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  // Heading
  .field--name-field-heading {}
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  // Heading
  .field--name-field-heading {}
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  // Heading
  .field--name-field-heading {}
}

// Print
@media print {

  // Heading
  .field--name-field-heading {}
}

// Touch
.touchevents {

  // Heading
  .field--name-field-heading {}
}

// No touch
.no-touchevents {

  // Heading
  .field--name-field-heading {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Heading mixin
@mixin field--name-mixin-field-heading() {}
