// |--------------------------------------------------------------------------
// | Content
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .sectioned--content
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin sectioned-content-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.sectioned--content {
  background-color: transparent;

  @include sectioned-skewed-mixin-angle-bottom($body-bg, $xs-sectioned-skewed-angle-height);

  .sectioned__inner {
    padding-top: 30px;
    padding-bottom: 30px;
    //padding-bottom: floor( ( ( 1px * $xs-sectioned-skewed-angle-height ) + $xs-sectioned-inner-spacing ) );
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .sectioned--content {
    @include sectioned-skewed-mixin-angle-bottom($body-bg, $sm-sectioned-skewed-angle-height);

    .sectioned__inner {
      //padding-bottom: floor( ( ( 1px * $sm-sectioned-skewed-angle-height ) + $sm-sectioned-inner-spacing ) );
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .sectioned--content {
    @include sectioned-skewed-mixin-angle-bottom($body-bg, $md-sectioned-skewed-angle-height);

    .sectioned__inner {
      //padding-bottom: floor( ( ( 1px * $md-sectioned-skewed-angle-height ) + $md-sectioned-inner-spacing ) );
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .sectioned--content {
    @include sectioned-skewed-mixin-angle-bottom($body-bg, $lg-sectioned-skewed-angle-height);

    .sectioned__inner {
      //padding-bottom: floor( ( ( 1px * $lg-sectioned-skewed-angle-height ) + $lg-sectioned-inner-spacing ) );
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
