// |--------------------------------------------------------------------------
// | Heading
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .sectioned--header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-sectioned-header-inner-spacing: 30px;
$sm-sectioned-header-inner-spacing: 30px;
$md-sectioned-header-inner-spacing: 30px;
$lg-sectioned-header-inner-spacing: 40px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin sectioned-header-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.sectioned--header {
  padding-top: 0;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
