// |--------------------------------------------------------------------------
// | Modal
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .modal
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$modal-inner-spacing: 70px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin modal-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.modal {

  .field {

    + .field--name-field-vih-paragraphs {
      margin-top: $grid-gutter-width;
      margin-bottom: 0 - $modal-inner-spacing;
    }
  }

  .field--item {

    .sectioned,
    .sectioned--skewed {
      margin-left: 0 - $modal-inner-spacing;
      margin-right: 0 - $modal-inner-spacing;

      .container {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
      }

      .sectioned__inner {
        padding-top: ($grid-gutter-width / 2) !important;
        padding-bottom: ($grid-gutter-width / 2) !important;
        padding-left: $modal-inner-spacing;
        padding-right: $modal-inner-spacing;
      }

      .sectioned--skewed-angle-top {
        margin-top: 0 !important;

        &:before {
          display: none;
        }
      }

      .sectioned--skewed-angle-bottom {
        margin-bottom: 0 !important;

        &:after {
          display: none;
        }
      }
    }

    .sectioned--skewed-background-image {

      .angled-background-image-wrapper {
        display: none;
      }
    }

    .sectioned__inner {
      background-image: none !important;
      //background-color: transparent !important;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
