// |--------------------------------------------------------------------------
// | Sectioned
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .sectioned
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$sectioned-subheading-title-color: $text-color-light;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin sectioned-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.sectioned {}

// Heading
.sectioned__heading {

  + .sectioned__subheading {
    margin-top: 10px;
  }
}
.sectioned__heading__title {
  margin: 0;
}

// Subheading
.sectioned__subheading {
  margin-bottom: $grid-gutter-width;
}
.sectioned__subheading__title {
  margin: 0;

  color: $sectioned-subheading-title-color;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
