// |--------------------------------------------------------------------------
// | Class taxonomy 'VIH class table radio selection' display
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .course-periods-accordion
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------
html[lang="en"] .course-periods-accordion .class-selection label.btn-radio-select label:after {
  content: 'Chose';
}

html[lang="en"] .course-periods-accordion .class-selection label.btn-radio-select.active label:after {
  content: 'Chosen';
}

html[lang="da"] .course-periods-accordion .class-selection label.btn-radio-select label:after {
  content: 'Vælg';
}

html[lang="da"] .course-periods-accordion .class-selection label.btn-radio-select.active label:after {
  content: 'Valgt';
}

.course-periods-accordion {
  .panel {
    .panel-body {
      padding: 0;
    }
    .class-selection {
      border-color: $gray-lighter;
      border-style: solid;
      border-width: 1px 0;
      margin-bottom: -1px;
      &:last-child {
        margin-bottom: 0;
      }
      label.btn-radio-select {
        border-radius: 0;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-family: $font-family-primary;
        max-height: 40px;
        padding: 0px 20px;
        top: -3px;
        position: relative;
        background: none;
        color: #bbb;
        border: 1px solid rgba(0, 0, 0, 0.2);
        &.active {
          background-color: #00bcff;
          color: #fff;
        }
        .form-type-radio label {
          padding: 0;
        }
        input[type=radio] {
          position: absolute;
          clip: rect(0,0,0,0);
          pointer-events: none;
        }
      }
      .field--name-field-vih-class-image {
        position: relative;
        .triangle {
          position: absolute;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 90%, 100% 30%, 100% 100%, 0% 100%);
          -webkit-clip-path: polygon(0 90%, 100% 30%, 100% 100%, 0% 100%);
          background: rgba($vih-red, 0.75);
          &.color-red {
            background: rgba($vih-red, 0.75);
          }
          &.color-blue {
            background: rgba($vih-blue, 0.75);
          }
          &.color-cyan {
            background: rgba($vih-cyan, 0.75);
          }
          &.color-purple {
            background: rgba($vih-purple, 0.75);
          }
          &.color-yellow {
            background: rgba($vih-yellow, 0.75);
          }
          &.color-green {
            background: rgba($vih-green, 0.75);
          }
          .field--name-name {
            bottom: 0;
            right: 5px;
            text-align: right;
            width: 100%;
            position: absolute;
          }
        }
        h5 {
          position:absolute;
          bottom: 8px;
          right: 20px;
        }
      }
    }
  }
  .accordion-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .col-xs-12.col-sm-3{
      margin-bottom: 15px;
    }
    .selection-buttons {
      text-align: center;
    }
    .description .field--item{
      padding: 0 10px;
    }
  }
}

#edit-submit {
    font-weight: 700;
}

.btn.btn-default {
  border-radius: 0;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: $font-family-primary;
  color: #bbb;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #00bcff;
  color: #fff;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {
}

// Mobile - only
@include media-breakpoint-only(xs) {
}

// Tablet - and up
@include media-breakpoint-up(sm) {
}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {
  .course-periods-accordion {
    .accordion-flex-container{
      .selection-buttons {
        text-align: left;
      }
      .description .field--item{
         padding: 0;
      }
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md) {
}

// Large desktop - and up
@include media-breakpoint-up(lg) {
}

// Print
@media print {
}

// Touch
.touchevents {
}

// No touch
.no-touchevents {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Breadcrumb mixin
@mixin breadcrumb-mixin() {}