<div{{ attributes }}>
    <table class="row">
        <tr class="modal-course-content-teaser-wrapper">
            <td class="col-xs-6">
                {{ content.field_vih_class_image }}
            </td>
            <td class="col-xs-6 multiple-elements">

                {# Begin - short description #}
                {% if node.field_short_description.value %}
                    <div class="field-vih-image-wrapper">
                        {{ content.field_short_description }}
                    </div>
                {% endif %}
                {# End - short description #}

                <a href="{{ url }}" class="btn-more">
                    <span class="icon icon-info-circle" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </table>
</div>
