// |--------------------------------------------------------------------------
// | Node Full display
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - article.full
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

article {
  .field {
    .field--label {
      @extend h4;
    }
    .field__items {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
      border: 1px solid $gray-lighter;
      text-transform: uppercase;
    }
  }

  &.vih-long-cource {
    .pricing-table {
      thead  {
        background: $gray-lighter;
        th {
          padding: 15px;
        }
      }
      tbody  {
        td {
          padding: 30px 10px;
        }
      }

      tr th, tr td {
        text-align: center;
      }
    }

  }
}
