// |--------------------------------------------------------------------------
// | Node Full display
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - article.full
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

article {
  .field {
    .field--label {
      @extend h4;
    }
  }
  
  &.vih-long-cource, &.vih-short-course {
    .pricing-table {
      thead  {
        background: $gray-lighter;
        th {
          padding: 15px;
          text-transform: uppercase;
        }
      }
      tbody  {
        td {
          padding: 32px 10px;
        }
      }

      tr th, tr td {
        text-align: center;
      }
    }

  }
  & .row.paragraphs{
    margin-top: 130px;
  }
}
