// |--------------------------------------------------------------------------
// | Long Course Order
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .long-course-order
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------



// --------------------------------------------------
// Styling
// --------------------------------------------------

// Long Course Order
.long-course-order {
  & .layout__document{
    & .layout__content{
      & article.vih-long-course-order{
        margin-bottom: 150px;
        & .user.compact td.user-image{
          width: 242px;
          height: 248px;
        }
        & .content{
          margin-top: 80px;
        }
      }
      & .news-banner{
        & h1.news-banner-title{
          line-height: 2;
          text-align: center;
        }
      }
      & .field{
        width: 100%;
        & .field--label{
          float: left;
          width: 250px;
        }
        & .field--item{
          margin-top: 11px;
          margin-bottom: 11px;

        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Long Course Order
  .long-course-order {
  }
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Long Course Order
  .long-course-order {
  }
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Long Course Order
  .long-course-order {
  }
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Long Course Order
  .long-course-order {
  }
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Long Course Order
  .long-course-order {
  }
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Long Course Order
  .long-course-order {
  }
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Long Course Order
  .long-course-order {
  }
}

// Print
@media print {

  // Long Course Order
  .long-course-order {
  }
}

// Touch
.touchevents {

  // Long Course Order
  .long-course-order {
  }
}

// No touch
.no-touchevents {

  // Long Course Order
  .long-course-order {
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Breadcrumb mixin
@mixin breadcrumb-mixin() {}
