// |--------------------------------------------------------------------------
// | Short Course Order
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .short-course-order
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------

// Long Course Order
.path-node .short-course-order .content {
  display: block;
  .field {
    margin-bottom: 30px;
  }
  .field--type-entity-reference-revisions > .field__items {
    .field--label {
      margin: 0;
    }

    .field {
      margin-bottom: 15px;
    }
    padding-left: 30px;
    > .field--item {
      padding-top: 10px;
      margin-bottom: 10px;
      border: 1px solid black;
      border-width: 0 0 1px 0;
    }
    > .field--item:last-child {
      border-width: 0;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

}

// Mobile - only
@include media-breakpoint-only(xs) {

}

// Tablet - and up
@include media-breakpoint-up(sm) {

}

// Tablet - only
@include media-breakpoint-only(sm) {
}

// Desktop - and up
@include media-breakpoint-up(md) {

}

// Desktop - only
@include media-breakpoint-only(md) {

}

// Large desktop - and up
@include media-breakpoint-up(lg) {

}

// Print
@media print {

}

// Touch
.touchevents {

}

// No touch
.no-touchevents {

}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Breadcrumb mixin
@mixin breadcrumb-mixin() {}
