{# Begin - image #}
{% if term.field_vih_class_image.value %}
    <div class="entity-list-advanced__image" style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style(content.field_vih_class_image[0]['#image_style']) }});">

        {# Begin - name #}
        <div class="entity-list-advanced__image__overlay entity-list-advanced__image__overlay--{{ term.field_vih_class_color.value }}">
            {{ name }}
        </div>
        {# End - name #}

    </div>
{% endif %}
{# End - image #}

<!-- Begin - body -->
<div class="entity-list-advanced__body">

    {# Begin - description #}
    <div class="entity-list-advanced__heading">
        <h2 class="entity-list-advanced__heading__title heading-h4">
            {{ content['description'] }}
        </h2>
    </div>
    {# End - description #}

</div>
<!-- End - body -->
