// |--------------------------------------------------------------------------
// | News
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser--news
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser-news-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-teaser--news {
  padding: $entity-teaser-inner-top-bottom-spacing $entity-teaser-inner-left-right-spacing;

  background-color: $body-bg-secondary;

  .entity-teaser__heading {
    min-height: 36px; // 2 lines
  }

  .field--name-body {
    min-height: 69px; // 3 lines
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
