// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$entity-teaser-element-spacing: 20px;

$entity-teaser-inner-top-bottom-spacing: 25px;
$entity-teaser-inner-left-right-spacing: floor( ( $grid-gutter-width / 2 ) );

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser-mixin() {}

@mixin entity-teaser-overlay-variant-mixin($background-color) {
  @include angled-edge('outside top', 'upper left', rgba($background-color, .85), 40);

  position: absolute;

  background-color: rgba($background-color, .85);
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-teaser {
  margin-bottom: $grid-gutter-width;

  transition: none; // Remove link transitions
}

.entity-teaser__heading {
  flex-shrink: 1;

  + .entity-teaser__body {
    margin-top: $entity-teaser-element-spacing;
  }
}
.entity-teaser__heading__title {
  margin: 0;

  font-weight: $headings-font-weight-bold;
  color: $headings-color;
}

.entity-teaser__body {
  flex-grow: 1;

  .field--name-body {

    + .entity-teaser__published-at {
      margin-top: $entity-teaser-element-spacing;
    }
  }
}

.entity-teaser__published-at {
  font-weight: $font-weight-bold;

  color: $brand-secondary;
}

.entity-teaser__image {
  position: relative;

  flex-shrink: 1;

  img {
    width: 100%;
  }
}

.entity-teaser__image__overlay {
  @include entity-teaser-overlay-variant-mixin($brand-primary);

  position: absolute;

  right: 0;
  bottom: 0;
  left: 0;

  padding: $entity-teaser-inner-left-right-spacing;

  text-transform: uppercase;
  text-align: right;

  font-weight: $font-weight-bold;
  color: #fff;
  background-color: rgba($brand-primary, .85);

  .field {
    @extend .heading-h4;

    display: inline-block;

    margin: 0;
    padding: 0;

    color: inherit;

    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }

  .heading-h1,
  .heading-h2,
  .heading-h3,
  .heading-h4,
  .heading-h5,
  .heading-h6 {
    color: #fff;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.entity-teaser__image__overlay--color-red {
  @include entity-teaser-overlay-variant-mixin($brand-red);
}
.entity-teaser__image__overlay--color-blue {
  @include entity-teaser-overlay-variant-mixin($brand-primary);
}
.entity-teaser__image__overlay--color-cyan {
  @include entity-teaser-overlay-variant-mixin($brand-cyan);
}
.entity-teaser__image__overlay--color-purple {
  @include entity-teaser-overlay-variant-mixin($brand-quaternary);
}
.entity-teaser__image__overlay--color-yellow {
  @include entity-teaser-overlay-variant-mixin($brand-yellow);
}
.entity-teaser__image__overlay--color-green {
  @include entity-teaser-overlay-variant-mixin($brand-tertiary);
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// Flex
.flexbox {

  .row--equal-height-columns {

    .entity-teaser {
      display: flex;

      flex-grow: 1;
      flex-direction: column;
    }

    .entity-teaser__body {
      flex-grow: 1;
    }
  }
}
