// |--------------------------------------------------------------------------
// | 1 column action - centered
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--_-column-action-centered
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$xs-paragraph-action-heading-margin-bottom: 30px;
$sm-paragraph-action-heading-margin-bottom: 60px;
$md-paragraph-action-heading-margin-bottom: 100px;
$lg-paragraph-action-heading-margin-bottom: 100px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// 1 column action - centered
.paragraph--type--_-column-action-centered {

  .field--name-field-description {
    text-align: center;

    + .field--name-field-link {
      margin-top: 50px;
    }
  }

  .field--name-field-link {
    text-align: center;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $xs-paragraph-action-heading-margin-bottom;
    }
  }
}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $sm-paragraph-action-heading-margin-bottom;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $md-paragraph-action-heading-margin-bottom;
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {

    .field--name-field-heading {
      margin-bottom: $lg-paragraph-action-heading-margin-bottom;
    }
  }
}

// Print
@media print {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// Touch
.touchevents {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// No touch
.no-touchevents {

  // 1 column action - centered
  .paragraph--type--_-column-action-centered {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// 1 column action - centered mixin
@mixin paragraph-type-mixin-column-action-centered() {}
