// |--------------------------------------------------------------------------
// | File
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--file
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$xs-paragraph-action-heading-margin-bottom: 30px;
$sm-paragraph-action-heading-margin-bottom: 60px;
$md-paragraph-action-heading-margin-bottom: 100px;
$lg-paragraph-action-heading-margin-bottom: 100px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// File
.paragraph--type--file {

  .field--name-field-description {
    text-align: center;

    + .field--name-file {
      margin-top: 50px;
    }

    + .field--name-field-link {
      margin-top: 50px;
    }
  }

  .field--name-file {
    text-align: center;
  }

  .field--name-field-link {
    text-align: center;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {

  // File
  .paragraph--type--file {

    .field--name-field-heading {
      margin-bottom: $xs-paragraph-action-heading-margin-bottom;
    }
  }
}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  // File
  .paragraph--type--file {

    .field--name-field-heading {
      margin-bottom: $sm-paragraph-action-heading-margin-bottom;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  // File
  .paragraph--type--file {

    .field--name-field-heading {
      margin-bottom: $md-paragraph-action-heading-margin-bottom;
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  // File
  .paragraph--type--file {

    .field--name-field-heading {
      margin-bottom: $lg-paragraph-action-heading-margin-bottom;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// File mixin
@mixin paragraph-type-mixin-column-action-centered() {}
