// |--------------------------------------------------------------------------
// | List of news teasers
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--list-of-news-teasers
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--user-quote{
  margin-top: 80px;
  margin-bottom: 140px;
  & .angled-background-inner{
    & .container{
      p {
        color: #888;
        text-align: left;
        font-size: 0.9em;
        text-transform: inherit;
        font-weight: normal !important;
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Print
@media print {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// Touch
.touchevents {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// No touch
.no-touchevents {

  // List of news teasers
  .paragraph--type--user-quote {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// List of news teasers mixin
@mixin paragraph-type-mixin-column-action-centered() {}
