// |--------------------------------------------------------------------------
// | Quote
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--quote
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$xs-paragraph-action-heading-margin-bottom: 20px;
$sm-paragraph-action-heading-margin-bottom: 30px;
$md-paragraph-action-heading-margin-bottom: 40px;
$lg-paragraph-action-heading-margin-bottom: 50px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Quote
.paragraph--type--user-quote {

  .field--name-field-vih-heading {
    margin-bottom: 50px;
  }

  .field--name-field-paragraph-person-photo {
    display: flex;

    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;

    padding: ($line-height-computed / 2) 0; // Padding matches the dynamic set at blockquote by Bootstrap

    img {
      @extend .img-circle;
    }
  }

  .field--name-field-vih-link {
    margin-top: 50px;

    text-align: center;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {

  // Quote
  .paragraph--type--quote {

    .field--name-field-vih-heading {
      margin-bottom: $xs-paragraph-action-heading-margin-bottom;
    }
  }
}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  // Quote
  .paragraph--type--user-quote {

    .field--name-field-paragraph-person-photo {
      justify-content: center;
    }
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  // Quote
  .paragraph--type--quote {

    .field--name-field-vih-heading {
      margin-bottom: $sm-paragraph-action-heading-margin-bottom;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  // Quote
  .paragraph--type--quote {

    .field--name-field-vih-heading {
      margin-bottom: $md-paragraph-action-heading-margin-bottom;
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  // Quote
  .paragraph--type--quote {

    .field--name-field-vih-heading {
      margin-bottom: $lg-paragraph-action-heading-margin-bottom;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Quote mixin
@mixin paragraph-type-mixin-column-action-centered() {}
