// |--------------------------------------------------------------------------
// | User profile
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .user-profile
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// User profile
.user-profile-list-simple {

  .user-profile-image {
    width: 45px;

    img {
      @extend .img-circle;
      width: 36px;
    }
  }

  .user-profile-full-name {

    &,
    a {

      &,
      &:hover,
      &:focus,
      &:active {
        color: $text-color;
      }
    }
  }

  .dived-table-cell {
    vertical-align: middle;
  }
}

.views-row {

  .user-profile-list-simple {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
  }

  &:first-child {

    .user-profile-list-simple {
      padding-top: 0;
    }
  }

  &:last-child {

    .user-profile-list-simple {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // User profile
  .user-profile-list-simple {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // User profile
  .user-profile-list-simple {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // User profile
  .user-profile-list-simple {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // User profile
  .user-profile-list-simple {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // User profile
  .user-profile-list-simple {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // User profile
  .user-profile-list-simple {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // User profile
  .user-profile-list-simple {}
}

// Print
@media print {

  // User profile
  .user-profile-list-simple {}
}

// Touch
.touchevents {

  // User profile
  .user-profile-list-simple {}
}

// No touch
.no-touchevents {

  // User profile
  .user-profile-list-simple {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// User profile mixin
@mixin user-profile-mixin-list() {}
