<a href="{{ url }}" {{ attributes.addClass('element-wrapper-link', 'entity-teaser', 'entity-teaser--page') }} style="background-image: url({{ node.field_vih_small_image.entity.image.entity.fileuri | image_style(content.field_vih_small_image[0]['#image_style']) }});">
  <div class="entity-teaser__inner">
    <div class="entity-teaser__image__overlay entity-teaser__image__overlay--color-purple">
      {{ label }}
    </div>
  </div>
</a>
