<article class="node-teaser node-teaser-news">
    <div class="card card-block">
        <h4 class="card-title">{{ label }}</h4>

        {% if node.hasField('field_due_date') %}
            <p class="card-text">
                {% trans %} Due at: {% endtrans %} {{ content.field_due_date }}
            </p>
        {% endif %}

        {% if node.hasField('body') %}
            <p class="card-text">{{ content.body }}</p>
        {% endif %}

        <div class="card-published-at">
            {{ node.createdTime | date("d-m-Y") }}
        </div>

    </div>
</article>
